// Артём здесь верстай
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer__new {
    width: 100%;
    //height: 140px;
    display: flex;
    align-items: flex-end;
    padding: 0 10px 5px;

    background-image: url(../assets/img/bg-tree6.jpg);
    width: 100%;
    border-top: 12px solid rgb(13,13,13);
}


.players__cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    align-items: flex-end;
    width: 100%;
    max-width: 1130px;
}

.player__card {
    width: 200px;
    height: 80px;
    position: relative;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    display: flex;
    align-items: center;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}

.player__card::before {
    content: '';
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 95%;
    height: 70px;
    background: #ffffff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
}

.player__card-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    left: 5px;
    /* right: 5px; */
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    width: 95%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 5px;
}

.player__card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player__card-title,
.player__card-desc {
    font-size: 12px;
    line-height: 10px;
    font-weight: 700;
    margin: 0;
}

.player__card-desc {
    color: #FF0000;
    font-size: 10px;
}

.card__money-info {
    display: grid;
    color: rgba(0, 0, 0, .6);
}

.player__card-money,
.player__card-allMoney {
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    line-height: 13px;
}

.player__card-money::before {
    content: '$';
    position: absolute;
    top: 0;
    left: 0;
    color: #306512;
    font-size: 12px;
    font-weight: 700;
}

.player__card-allMoney::before {
    content: 'A';
    position: absolute;
    top: 0;
    left: 0;
    color: #BE2D1C;
    font-size: 12px;
    font-weight: 700;
}

.player__card-photo {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
}

.move__aponent {
    position: absolute;
    top: 5px;
    left: -5px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .1s all;
    -webkit-transition: .1s all;
    -moz-transition: .1s all;
    -ms-transition: .1s all;
    -o-transition: .1s all;
}

.move__aponent-time {
    text-transform: uppercase;
    color: #D1DAE1;
    font-size: 14px;
    text-shadow: 0 1px 4px #000000;
    font-weight: 700;
}

.move__time-second {
    color: #ffffff;
    padding: 0 3px;
}

.move__timer-load {
    margin: 0 10px;
    width: 95%;
    height: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: rgb(1, 44, 1);
}

.player__photo-pic {
    min-width: 100%;
    max-width: 150%;
}

.aponent__avtive {
    width: 225px;
    height: 125px;
}

.aponent__avtive .player__card-content {
    bottom: 10px;
    width: 90%;
}

.aponent-1 {
    background: #D3089B;
}

.aponent-2 {
    background: #37BA00;
}

.aponent-3 {
    background: #F3D602;
}

.aponent-4 {
    background: #E02E0B;
}

.aponent-5 {
    background: #0681FD;
}

.aponent-1>.player__card-content {
    background: linear-gradient(180deg, rgba(180, 43, 220, 0) 0%, rgba(181, 42, 221, 0.44) 56.25%, rgba(185, 44, 225, 0.8) 100%);
}

.aponent-2>.player__card-content {
    background: linear-gradient(180deg, rgba(124, 186, 21, 0) 0%, rgba(128, 188, 27, 0.55) 56.25%, #78B514 100%);
}

.aponent-3>.player__card-content {
    background: linear-gradient(180deg, rgba(225, 138, 36, 0) 0%, rgba(222, 139, 41, 0.55) 56.25%, #E78F27 100%);
}

.aponent-4>.player__card-content {
    background: linear-gradient(180deg, rgba(227, 44, 44, 0) 0%, rgba(221, 51, 51, 0.44) 56.25%, rgba(224, 42, 42, 0.8) 100%);
}

.aponent-5>.player__card-content {
    background: linear-gradient(180deg, rgba(70, 76, 233, 0) 0%, rgba(66, 73, 239, 0.44) 56.25%, rgba(58, 65, 231, 0.8) 100%);
}

.aponent__avtive.player__card::before {
    width: 90%;
    bottom: 10px;
}

.aponent__avtive .move__aponent {
    transition: .2s all;
    opacity: 1;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition-delay: .1s;
}

.player__bankrot {
    opacity: 0;
}

.bankrot>.player__bankrot {
    opacity: 1;
}

.player__bankrot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(209, 218, 225, .7);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.player__bakrot-text {
    text-transform: uppercase;
    color: #BE2D1C;
    font-size: 28px;
    border: 2px solid #BE2D1C;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    margin: 0;
}




.player__deal {
    display: none;
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
}

.player__btn-deal {
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
    padding: 0 4px;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(#e71d07, rgb(70, 10, 10));
    box-shadow: 0 0 4px #000000;
    font-weight: 700;
}

.player__btn-deal span i {
    // padding-right: 3px;
    font-size: 1.9em;
}

.aponnet__deal .player__deal {
    display: block;
}

@media screen and (max-width: 1075px) {
    .player__btn-deal {
        font-size: 13px;
    }
    .players__cards {
        gap: 15px;
    }
}
@media screen and (max-width: 993px) {
    .player__btn-deal {
        font-size: 12px;
    }
    .players__cards {
        gap: 10px;
    }
}