// Артём
// Modal my__data
/* ============ Modal style start ============ */

/* Top items style start */
.my__data-modal {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.my__data-body {
    margin: 0 15px;
    position: relative;
}

.my__data-bodyBG {
    max-width: 100%;
}

.my__data-content {
    position: absolute;
    inset: 7px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.my__modal-top-items {
    width: 100%;
    background: url(../assets/ui/images/5.png) repeat-x;
    box-shadow: 0 0 10px #000000;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    border-bottom: 4px solid #dee2e6;
}

.my__modal-top-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #e8e8e8;
    margin: 0;
    text-shadow: 0 0 4px #000000;
}

.my__modal-link {
    padding-right: 5px;
    margin-top: 3px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my__modal-link a {
    text-decoration: none;
}

.my__data-modalArrow {
    display: block;
    width: 33px;
    height: 33px;
    background: url(../img/green__arrow.png) no-repeat center;
    background-size: cover;
    transform: rotateZ(45deg) translate(3px, 1px);
    -webkit-transform: rotateZ(45deg) translate(3px, 1px);
    -moz-transform: rotateZ(45deg) translate(3px, 1px);
    -ms-transform: rotateZ(45deg) translate(3px, 1px);
    -o-transform: rotateZ(45deg) translate(3px, 1px);
}

.my__data-modalArrow:hover {
    opacity: .7;
}

.my__data-modalClose {
    display: block;
    width: 35px;
    height: 40px;
    background: rgb(104, 204, 53);
    background: -moz-linear-gradient(180deg, rgba(104, 204, 53, 1) 60%, rgba(19, 158, 12, 1) 85%);
    background: -webkit-linear-gradient(180deg, rgba(104, 204, 53, 1) 60%, rgba(19, 158, 12, 1) 85%);
    background: linear-gradient(180deg, rgba(104, 204, 53, 1) 60%, rgba(19, 158, 12, 1) 85%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
}

.my__data-modalClose:hover {
    background: rgb(254, 119, 0);
    background: -moz-linear-gradient(180deg, rgba(254, 119, 0, 1) 57%, rgba(255, 0, 26, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(254, 119, 0, 1) 57%, rgba(255, 0, 26, 1) 100%);
    background: linear-gradient(180deg, rgba(254, 119, 0, 1) 57%, rgba(255, 0, 26, 1) 100%);
}

.my__data-modalClose::before,
.my__data-modalClose::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 4px;
    background: #ffffff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my__data-modalClose::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.my__data-modalClose::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/* Top items style end */

/* Center items style start */

.my__data-center-items {
    display: block;
    width: 100%;
    background: rgb(47, 48, 49);
    padding: 40px 30px 80px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 1px solid #dee2e6;
}

.player_data-modal .my__data-center-items {
    background: rgb(231, 229, 229);
}

.my__data-center-items::after,
.my__data-center-items::before {
    content: '';
    position: absolute;
    top: -9px;
    width: 2px;
    height: 104.5%;
    background: #dee2e6;
}

.my__data-center-items::after {
    left: 0px;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    -o-border-radius: 0 5px 0 0;
}

.my__data-center-items::before {
    right: 0;
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
}

.my__data-modalPhoto {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    padding: 3px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.my__data-modalPhoto-pic {
    max-width: 150%;
    border-style: none;
}

.my__data-modal-playerText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my__data-modal-playerTitle {
    margin: 0;
    color: #e8e8e8;
    font-size: 22px;
}

.my__data-modal-desc {
    margin: 0;
    font-size: 18px;
    color: #e3e308;
}

/* Center items style end */

/* Tabs style start */

.tabs li {
    list-style: none;
}

.tabs {
    font-size: 0;
    width: 100%;
    background: url(../assets/ui/shapes/495.png) repeat;
    /* background: url(../assets/ui/shapes/497.png) repeat; */
    background-size: 100% 100%;
    border-top: 2px solid #000000;
    margin-top: -25px;
    height: 100%;
    padding: 0 15px;

}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    display: none;
    font-size: 16px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
    display: block;
    margin-top: 5px;
}

.tabs>label {
    width: 23.7%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 14px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    color: rgba(27, 31, 59, .8);
    background: url(../assets/ui/shapes/83.png) no-repeat;
    // background-size: 100% 100%;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.tabs label:nth-child(2) {
    z-index: 4;
    margin-left: 20px;
}

.tabs label:nth-child(4) {
    z-index: 3;
}

.tabs label:nth-child(6) {
    z-index: 2;
}

.tabs>input[type="radio"]:checked+label {
    color: #000000;
    background: url(../assets/ui/shapes/79.png) no-repeat;
    // background-size: 100% 100%;
    z-index: 10;
}

/* Tabs style end */

.search__categories {
    display: flex;
    justify-content: space-between;
}

.my__data-tables {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.my__data-table {
    width: 50%;
}

.my__data-table {
    border-collapse: collapse;
}

.my__data-table tbody td {
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.my__data-table tbody tr {
    position: relative;
}

.my__data-table tr::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.my__data-table tbody tr:last-child::after {
    opacity: 0;
}

.my__data-table:first-child tbody td {
    padding-right: 40px;
}

.my__data-table tbody td:first-child {
    padding-right: 0;
}

.my__data-table:last-child .my__data-tableTitle {
    padding-left: 0;
}

.my__data-table:last-child tbody td:last-child {
    padding-right: 15px;
}


.my__data-tableTitle {
    margin: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
    text-shadow: 0 0 4px rgba(0, 0, 0, .4);
    padding-right: 10px;
    padding-left: 15px;
}

.my__data-table:last-child .my__data-tableTitle {
    padding-right: 0;
}

.my__data-table-GeneralCapital,
.my__data-table-Week,
.my__data-table-Rating,
.my__data-table-Wins,
.my__data-tableNumber {
    margin: 0;
    font-size: 12px;
    color: #dee2e6;
}

.my__data-tableStatus,
.my__data-table-GeneralCapital,
.my__data-table-Week,
.my__data-table-LastVisit,
.my__data-table-Rating,
.my__data-table-Wins {
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.my__data-tableStatus {
    color: #e3e308;
}

.my__data-table-LastVisit {
    color: green;
}

/* player__data-modal style start */

.player__data-modalAttention {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

.player__data-modalAttention::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #a5a5a5; */
    background: rgb(219, 219, 219);
    background: -moz-linear-gradient(180deg, rgba(219, 219, 219, 1) 0%, rgba(116, 116, 116, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(219, 219, 219, 1) 0%, rgba(116, 116, 116, 1) 100%);
    background: linear-gradient(180deg, rgba(219, 219, 219, 1) 0%, rgba(116, 116, 116, 1) 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.player__data-modalAttention:hover::before {
    background: rgb(254, 119, 0);
    background: -moz-linear-gradient(180deg, rgba(254, 119, 0, 1) 57%, rgba(255, 0, 26, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(254, 119, 0, 1) 57%, rgba(255, 0, 26, 1) 100%);
    background: linear-gradient(180deg, rgba(254, 119, 0, 1) 57%, rgba(255, 0, 26, 1) 100%);
}

.player__data-modalAttention::after {
    content: '!';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2em;
}

.player__data-modalPresent {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/present.png) no-repeat center;
    background-size: cover;
}

.player__data-modalPresent:hover {
    opacity: .7;
}

.player_data-modal .my__data-center-items {
    background: rgb(242 239 215);
}

.player_data-modal .my__modal-top-items {
    border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -ms-border-radius: 12px 12px 0 0;
    -o-border-radius: 12px 12px 0 0;
}

.player_data-modal .my__data-center-items::after,
.player_data-modal .my__data-center-items::before {
    background: transparent;
}

.player_data-modal .tabs {
    width: 100.4%;
    border-top: none;
    margin-top: -22px;
}

.player_data-modal .my__data-modalPhoto {
    padding: 0;
    border: 4px solid #000000;
}

.player_data-modal .my__data-modal-playerTitle {
    color: #e2e2e2;
    text-shadow: 0 0 4px #000000;
}

.player_data-modal .my__data-modal-desc {
    color: rgba(0, 0, 0, .6);
    text-shadow: 0 0 10px #ffff00;
}

.player__data-userName {
    font-size: 18px;
    color: rgb(81, 81, 233);
    text-align: center;
}

.player_data-modal .tabs>label:nth-child(8),
.player_data-modal .tabs>input:nth-child(7),
.player_data-modal .tabs>#content-4 {
    display: none;
}

.player_data-modal .my__modal-link {
    width: 32%;
}


/* ============ MEDIA ============ */

@media screen and (max-width: 664px) {
    .my__data-modalPhoto {
        width: 80px;
        height: 80px;
    }
    .my__modal-top-title {
        font-size: 22px;
    }
    .my__data-modalArrow {
        width: 30px;
        height: 30px;
    }
    .my__data-modalClose {
        width: 30px;
        height: 35px;
    }
    .my__data-center-items {
        gap: 20px;
    }
    .my__data-modal-playerTitle {
        font-size: 20px;
    }
    .my__data-modal-desc {
        font-size: 16px;
    }
    .tabs>label,
    .tabs>input[type="radio"]:checked+label {
        background-size: 100% 100%;
    }
    .tabs>label {
        width: 24.7%;
        font-size: 12px;
        padding: 2px 0;
    }
    .tabs label:nth-child(2) {
        margin-left: 0;
    }
    .my__data-tableTitle {
        font-size: 10px;
        padding-left: 10px;
    }
    .my__data-tableStatus,
    .my__data-table-GeneralCapital,
    .my__data-table-Week,
    .my__data-table-LastVisit,
    .my__data-table-Rating,
    .my__data-table-Wins {
        font-size: 10px;
    }

    .my__data-table-GeneralCapital,
    .my__data-table-Week,
    .my__data-table-Rating,
    .my__data-table-Wins,
    .my__data-tableNumber {
        font-size: 10px;
    }
}
@media screen and (max-width: 491px) {
    .my__data-center-items {
        padding: 25px 30px 50px;
    }
    .my__data-modalPhoto {
        width: 60px;
        height: 60px;
    }
    .my__data-modal-playerText {
        gap: 0;
    }
    .my__data-modal-playerTitle {
        font-size: 16px;
    }
    .my__data-modal-desc {
        font-size: 12px;
    }
    .tabs {
        margin-top: -21px;
    }
    .tabs>label {
        font-size: 10px;
    }
    .my__data-center-items::after,
    .my__data-center-items::before {
        height: 106.5%;
    }
    .my__data-table:first-child tbody td {
        padding-right: 0;
    }
}