/* Demo css classes */
html, body{
    height: 100%;
}
:focus{
    outline: none;
}
.cell-alert .tab-pane{
    padding: 0;
}
.tab-pane__overflow{
    overflow: hidden !important;
}
.slimScroll {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: 8px 11px;
}


/* custom stylings */
.wrapper, .scroll-wrapper {
    padding: 5px;
}
.scroll-wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 2s opacity ease;
    -ms-transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
    -ms-transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.scroll{
    border-radius: 10px;
}
.wrapper + .scrollBarContainer{
    background-color: #eee9ee;
}
.scrollBar {
    background-color: #60F509;
    border-radius: 10px;
    opacity: 0.5;
}
.scroll-bar{
    background-color: #14D1E0;
}
.scroll-bar{
    background-color: transparent;
    /*background-image: url(../ui/shapes/1998.png);*/
    width: 15px;
}
[data-slimscroll] > div + div{
    width: 15px;
    background: #131313;
}
.scroll-bar::before{
    content: "";
    width: 15px;
    height: 100%;
    background: linear-gradient(90deg, #061A00 0%, #225700 100%);
    border: 1px solid #386F13;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.scroll-bar::after{
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../ui/shapes/2005.png);
    background-repeat: no-repeat;
    background-position: center;
}