body{
    background-color: #000000;
    color: #000;
    transition: .5s;
}
.site-container{
    min-height: 100vh;
    flex-direction: column;
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


.header-menu__li{
    line-height: 1;
    position: relative;
    padding-left: 18px;
    font-size: 11px;
    &::before {
        content: '★';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    span{
        font-size: 110%;
    }
    & > .header-menu__li{
        margin-left: 15px;
    }
}
.header-menu__li--red{
    span{
        color: #BD2C1B;
    }
    &::before {
        color:  #BD2C1B;
    }
}
.header-menu__li--yellow{
    span{
        color:  rgb(245, 158, 38);
    }
    &::before {
        color:  rgb(245, 158, 38);
    }
}



.board-grid {
    display: grid !important;
    grid-template-rows: 2.875fr repeat(7, 1fr) 2.875fr;
    grid-template-columns: 2.875fr repeat(12, 1fr) 2.875fr;
    width: 100%;
    height: calc(100vh - 205px);
    margin: 0;
    border: 0px solid black;
    background-image: url(../img/bg-tree4.jpg);
    min-height: 680px;
    gap: 3px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 13px;
    padding: 6px 6px;
    position: relative;
    margin-top: 5px;
}
.board-grid--bg-black{
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #000;
        z-index: 2;
        opacity: .75;
    }
}
.header-menu{
    height: 45px;
    width: 100%;
    background: rgb(13,13,13);
    background: linear-gradient(0deg, rgba(13,13,13,1) 0%, rgba(39,39,39,1) 100%);
}
.header-btn{
    height: 60px;
    width: 100%;
    border-bottom: 5px solid rgb(13,13,13);
    background-image: url(../img/bg-tree6.jpg);
}
.footer-players{
    background-image: url(../img/bg-tree6.jpg);
    
    width: 100%;
    border-top: 12px solid rgb(13,13,13);
}
.header-btn__item{
    width: 40px;
    height: 40px;
    background-color:  #C8C8C8;
}
.header-menu{
    display: flex;
    color: #c7c7c7;
    justify-content: space-between;
    padding: 0 15px;
}
.header-menu__full{
    font-size: 15px;
}
.header-menu__right{
    display: flex;
    align-items: center;
}
.header-menu__left{
    display: flex;
    align-items: center;
    font-size: 13px;
    transform: translateY(5px);
}
.header-menu__item{
    &:not(:last-child){
        margin-right: 20px;
    }
    span{
        color: #DEA102;
        padding-left: 2px;
    }
}

.header-menu__icon{
    width: 23px;
    height: 23px;
    background-color: #202020;
    border-radius: 4px;
    color: #c8c8c8;
    box-shadow: 0px 2px 0px 0px currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    

    &:not(:last-child) {
        margin-right: 8px;
    }
}
.header-menu__new{
    color: #fff;
    padding: 4px;
    & + .header-menu__new{
        padding-right: 0;
    }   
}

.header-menu__full{
    font-size: 15px;
}
.header-menu__1{
    background-image: url(../img/2.png);
    background-size: cover;
    i{
        opacity: 0;
    }
}
.header-menu__2{
    background-image: url(../img/3.png);
    background-size: cover;
    i{
        opacity: 0;
    }
}
.header-menu__3{

}
.header-menu__4{

}
.header-menu__5{

}



.header-btn{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.btns-actions{
    .btn{
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        
        border-radius: 7px;
        padding: 0.15rem 0.5rem;
       
    }
    .btn:not(:last-child){
        margin-right: 9px;
    }
    .btn--end{
        margin-left: auto;
    }
    .btn--yellow{
        min-width: 85px;
        background: rgb(224,157,4);
        background: linear-gradient(45deg, rgba(224,157,4,1) 0%, rgba(226,161,2,1) 100%);
        color: #000;
        border: 2px solid #794B00;
        box-shadow: 0 0 0px 2px #FACF56;
    }
    .btn--yellow.btn--active{
        background: rgb(255,201,7);
        background: linear-gradient(178deg, rgba(255,201,7,1) 0%, rgba(245,158,38,1) 100%);
        border: 2px solid #966901;
        box-shadow: 0 0 0px 2px #FFECA8;

    }
    .btn--yellow:hover{
        background: linear-gradient(178deg, rgba(255,201,7,1) 0%, rgba(245,158,38,1) 100%);
        border: 2px solid #966901;
        box-shadow: 0 0 0px 2px #FFECA8;
    }
    .btn--red{
        background: rgb(243,90,75);
        border: 2px solid #832A1E;
        box-shadow: 0 0 0px 2px #E39288;
        text-shadow: red 0 0 2px;
        text-shadow: black 0 0 3px;
    }
    .btn--red.btn--active{
        background: linear-gradient(145deg, rgba(243,90,75,1) 0%, rgba(177,27,15,1) 100%);
    }
    
    .btn-dice{
        position: relative;
        padding-left: 47px;
    line-height: 1;
        img{
            position: absolute;
            left: 1px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.big-house{
    position: absolute;
}
.cell-right{
    .big-house{
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%) rotate(-90deg);
    }
}
.wrapper-house{
    position: absolute;
    display: flex;
    flex-direction: column;
}
/*.small-house{

}*/
.cell-top{
    .wrapper-house{
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
    }
}


.cell {
    text-align: center;
    
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: flex;
    /*gap: 1%;*/

    &::after, &::before{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        background-image: url(../img/bg-tree4.jpg);
        z-index: 1;
    }
}
.cell-corner{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}

.cell__text{
    padding: 4px;
}

.cell-item{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    line-height: 1.26;
}
.cell-red{
    background: linear-gradient(0deg, #BD2C1B 0%, #F18376 100%);
}

.cell-yellow{
    background: linear-gradient(0deg, #ECE375 0%, #DDA931 100%);
}
.cell-lgreen{
    background: linear-gradient(0deg, #2C8A21 0%, #A0D669 100%);
}
.cell-blue{
    background: linear-gradient(0deg, #1387FE 0%, #A6D9FC 100%);
}
.cell-violet{
    background: linear-gradient(0deg, #F944A3 0%, #FCC2E0 100%);
}

.cell-price{
    position: absolute;
    writing-mode: rl-tb;
    width: 100%;
    font-weight: 500;
    text-transform: lowercase;
    font-size: 13px;
    background: linear-gradient(90deg, #CACEC7 0%, #FCFBF9 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-price-yellow{
    background: linear-gradient(0deg, #DEA102 0%, #E3C806 100%);
}
.cell-price-red{
    background: linear-gradient(90deg, #FD868A 0%, #F4989B 100%); 
}
.cell-price-violet{
    background: linear-gradient(-90deg, #A259D6 0%, #CDB3F2 100%);
}
.cell-price-blue{
    background: linear-gradient(0deg, #7FD0FC 0%, #61A6F7 100%);
}
.cell-price-ginger{
    background: linear-gradient(0deg, #E9B212 0%, #E96D05 100%);
}
.cell-price-green{
    background: linear-gradient(-90deg, #8BA61F 0%, #007E01 100%);
}
.cell-price-turquoise{
    background: linear-gradient(-90deg, #1F9E94 0%, #0B85A3 100%);
}
.cell-price-pink{
    background: linear-gradient(-90deg, #C85B7A 0%, #CA4CB1 100%);
}
.cell-price-l-green{
    background: linear-gradient(-90deg, #7CC732 0%, #76D7AE 100%);
}

.cell-price-l-purple{
    background: linear-gradient(-90deg, #ACC4FC 0%, #CE9AFA 100%);
}


/*.cell-corner .cell-item{
    width: 100%;
}*/



.cell-top{
    z-index: 1;
    justify-content: flex-end;
    .cell-price{
        top: 0;
        left: 0;
        height: 14.75%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .cell-item{
        height:  84%;
        padding: 1px 0px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: right;
        &::after{
            margin: 0 auto;
            transform: rotate(-180deg) translate(2px, -7px);
        }
    }
    .cell-green{
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    &::after{
        content: "";
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
    }
    &::before{
        content: "";
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
    }
}

.cell-right{
    z-index: 1;
    &::before{
        content: "";
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
    }
    &::after{
        content: "";
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }

    .cell-price{
        writing-mode: vertical-rl;
        right: 0;
        top: 0;
        width: 14.75%;
        height: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .cell-item{
        width:  84%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: right;
    }
    .cell-green{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
  
.cell-bottom{
    z-index: 1;
    &::after{
        content: "";
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }
    &::before{
        content: "";
        top: 0;
        right:  0;
        transform: translate(50%, -50%);
    }
    .cell-price{
        bottom: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 14.75%;;
    }
    .cell-item{
        height:  84%;
        padding: 1px 0px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
    .cell-green{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.cell-left{
    z-index: 1;
    justify-content: flex-end;
    &::after{
        content: "";
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
    }
    &::before{
        content: "";
        top: 0;
        right:  0;
        transform: translate(50%, -50%);
    }
    .cell-price{
        top: 0;
        left: 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 14.75%;
        height: 100%;
        writing-mode: vertical-rl;

    }
    .cell-item{
        width:  84%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        .cell__text{
            width:  100%;
            
        }
    }
    .cell-green{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.v-rl{
    writing-mode: vertical-rl;
}
.cell-green{
	background: rgb(73,132,40);
    background: linear-gradient(120deg, rgba(73,132,40,1) 0%, rgba(38,89,10,1) 100%);
    color: #fff;
    text-shadow: black 0 0 5px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
}
.cell-corner .cell-green{
    font-size: 25px;
}

.board-grid{
    .cell-alert{
        grid-column: 2/14;
        grid-row: 2/9;
        margin: 14px 20px 20px;
        position: relative;
        z-index: 1;
    }
}
.cell-alert{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cell-alert{
    .nav{
        padding-left: 9px;
    }
    .nav-link{
        margin: 0 -9px;
        position: relative;
        background-color: transparent !important;
        color: #000 !important;
        padding: 1em 2em 1em 1em;
        min-width: 16.6%;
        font-weight: 500;
        font-size: 12px;
        span{
            position: relative;
        }
        i{
            position: absolute;
            top: 0;
            right: 20px;
            background-color: #B72014;
            min-width: 16px;
            height: 16px;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            color: #fff;
            font-weight: normal;
            text-shadow: none;
            box-shadow: 0 0 0 1px #000;
        }
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0.5em;
            left: 0;
            z-index: 0;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
            
            box-shadow: 0 2px hsl(0deg 0% 100% / 50%) inset;
            transform: perspective(5px) rotateX(2deg);
            transform-origin: bottom;
            transform-origin: bottom left;
            border: 1px solid #EDE2D7;
        }
        &.active{
            z-index: 2;
            &::before{
                 
            }
        }
    }
    .nav-link--grey{
        text-shadow: #ededed 1px 1px 1px;
        text-transform: uppercase;
        font-weight: bold; 
        &::before{
            
            background: linear-gradient(120deg, #CCB69F 0%, #CAB6A3 100%);
        }
    }
    .nav-link--red{
        
        text-shadow: #E5A29D 1px 1px 1px;
        &::before{
            border: 1px solid #EDE2D7;
            background: linear-gradient(0deg, #BD2C1B 0%, #F18376 100%);
        }
    }
    .nav-link--blue{
        text-shadow: #c3c3c3 1px 1px 1px;
        &::before{
            border: 1px solid #A5C7FB;
            background: linear-gradient(0deg, #3A6FFC 0%, #3870FC 100%);
        }
    }

    .nav-link--green{
        text-shadow: #c3c3c3 1px 1px 1px;
        &::before{
            border: 1px solid #A5C7FB;
            background: linear-gradient(0deg, #2C8A21 0%, #A0D669 100%);
        }
    }
    
    .nav-link--blue{
        text-shadow: #c3c3c3 1px 1px 1px;
        &::before{
            border: 1px solid #A5C7FB;
            background: linear-gradient(0deg, #3A6FFC 0%, #3870FC 100%);
        }
    }
    
    
    .nav-link--yellow{
        text-shadow: #c3c3c3 1px 1px 1px;
        &::before{
            border: 1px solid #A5C7FB;
            background: linear-gradient(0deg, #EDB717 0%, #FEFE7B 100%);
        }
    }
    .nav-link--violet{
        text-shadow: #c3c3c3 1px 1px 1px;
        &::before{
            border: 1px solid #F944A3;
            background: linear-gradient(0deg, #F944A3 0%, #FCC3E1 100%);
        }
    }
    

    .tab-content{
        background-color: #000;
        
        position: relative;
        z-index: 2;
        margin-top: -7px;
        flex: 1;
        transition: .5s;
    }
    .tab-pane{
        height: 100%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #c3c3c3;
       
    overflow: hidden;
        padding: 8px 11px;
    }
    .tab-pane--grey{
        border: 1px solid #cab6a3;
        border-top: 5px solid #cab6a3;
    }
    .tab-pane--red{
        border: 1px solid #BD2C1B;
        border-top: 5px solid #BD2C1B ; 
    }
    .tab-pane--blue{
        border: 1px solid #3870FC;
        border-top: 5px solid #3870FC ; 
    }
    .tab-pane--green{
        border: 1px solid #2C8A21;
        border-top: 5px solid #2C8A21 ; 
    }
    .tab-pane--yellow{
        border: 1px solid #EDB717;
        border-top: 5px solid #EDB717 ; 
    }

    .tab-pane--yellow{
        border: 1px solid #EDB717;
        border-top: 5px solid #EDB717 ; 
    }
    
    .tab-pane--violet{
        border: 1px solid #F944A3;
        border-top: 5px solid #F944A3 ; 
    }

} 

:root {
    --scrollbarBg: #0A0805;
    --scrollbarThumb: rgba(255, 255, 255, 0.8);
    --scrollbarWidth: 12px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
  }
  .tab-pane__overflow {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
  }
  .tab-pane__overflow::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }
  .tab-pane__overflow::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
  }
  .tab-pane__overflow::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
  }

.tab-pane__overflow{
    height: calc(15vh + 140px);
    overflow: auto;
}
.tab-pane__btns{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    padding: 0 12px;
    display: flex;
    gap: 5px;
    input{
        border-radius: 5px;
        flex: 1;
    }
    .form-control,
    .btn{
        padding: 0.1rem 0.75rem;
    }
    .btn{
        padding: 0.15rem 0.75rem 0.05rem;
        text-shadow: black 0 0 5px;
        color: #fff;
        background: linear-gradient(180deg, #7DAD31 0%, #386407 100%);
    }
}
.tab-pane__item:last-child{
    margin-bottom: 14px;
}
.site-container--grid{
    .tab-pane__item:last-child{
        margin-bottom: 50px;
    }
}


.tab-content>.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blue{
    color: #3870FC;
}
.red{
    color: #BD2C1B;
}
.white{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}


.item0{
    grid-column: 1;
    grid-row: 1;
    .cell-item{
        position: relative;
        &::after{
            content: "";
            //position:absolute;
            width: 91px;
            height: 62px;

            background-image: url(../ui/shapes/game/682.png);
        }
    }
}
.item1{
    grid-column: 2;
    grid-row: 1;
    .cell-item{

        font-size: 15px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/809.png);
            width: 37px;
            height: 40px;
            margin: 0 auto;
            transform: rotate(-180deg) translate(2px, -7px);
            
        }
    }
}

.item2{
    grid-column: 3;
    grid-row: 1;
    .cell__text{
        span{
            font-size: 17px;
        }
    }
}
.item3{
    grid-column: 4;
    grid-row: 1;
    .cell-item{
        font-size: 16px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/815.png);
            width: 28px;
            height: 35px;
        }
    }
}
.item4{
    grid-column: 5;
    grid-row: 1;
    .cell-item{
        font-size: 16px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/819.png);
            width: 33px;
            height: 35px;
        }
    }

}
.item5{
    grid-column: 6;
    grid-row: 1;
}
.item6{
    grid-column: 7;
    grid-row: 1;
    .cell-item{
        font-size: 18px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/824.png);
            width: 22px;
            height: 43px;
        }
    }
}
.item7{
    grid-column: 8;
    grid-row: 1;
    .cell-item{
        font-size: 14px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/829.png);
            width: 31px;
            height: 34px;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translateX(-54%) rotate(180deg);
        }
    }
}
.item8{
    grid-column: 9;
    grid-row: 1;
    .cell-item{
        font-size: 14px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/833.png);
            width: 26px;
            height: 39px;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translateX(-54%) rotate(180deg);
        }
    }
}
.item9{
    grid-column: 10;
    grid-row: 1;
}
.item10{
    grid-column: 11;
    grid-row: 1;
    .cell-item{
        font-size: 13px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/837.png);
            width: 29px;
            height: 32px;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translateX(-70%) rotate(180deg);
        }
    }
}
.item11{
    grid-column: 12;
    grid-row: 1;
    .cell-item{
        font-size: 12px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/842.png);
            width: 26px;
            height: 45px;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translateX(-70%) rotate(180deg);
        }
    }
}
.item12{
    grid-column: 13;
    grid-row: 1;
    .cell-item{
        font-size: 13px;
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/846.png);
            width: 41px;
            height: 41px;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translateX(-54%) rotate(180deg);
        }
    }
}
.item13{
    grid-column: 14;
    grid-row: 1;

    .cell-item{
        position: relative;
        gap: 3px;
        &::after{
            content: "";
            width: 95px;
            height: 45px;

            background-image: url(../ui/shapes/game/687.png);
        }        
    }
}
.item14{
    grid-column: 14;
    grid-row: 2;
    .cell-item{
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/782.png);
            width: 47px;
            height: 42px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);

        }
    }
}
.item15{
    grid-column: 14;
    grid-row: 3;
    .cell-item{
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/788.png);
            width: 47px;
            height: 42px;
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
        }
    }
}
.item16{
    grid-column: 14;
    grid-row: 4;
    .cell-item{
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/792.png);
            width: 47px;
            height: 46px;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
        }
    }
}
.item17{
    grid-column: 14;
    grid-row: 5;
    font-size: 17px;
    .cell-item{
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/796.png);
            width: 41px;
            height: 42px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
        }
    }

    
}
.item18{
    grid-column: 14;
    grid-row: 6;
    .cell-item{
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/800.png);
            width: 41px;
            height: 48px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
        }
    }
}
.item19{
    grid-column: 14;
    grid-row: 7;
}
.item20{
    grid-column: 14;
    grid-row: 8;
    .cell-item{
        &::after{
            content: "";
            background-image: url(../ui/shapes/game/804.png);
            width: 42px;
            height: 48px;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
        }
    }

}
.item21{
    grid-column: 14;
    grid-row: 9;
    
    .cell-item{
        position: relative;
        gap: 3px;
        flex-direction: column-reverse;
        &::after{
            content: "";
            width: 47px;
            height: 48px;
            background-image: url(../ui/shapes/game/694.png);
        }        
    }
}
.item22{
    grid-column: 13;
    grid-row: 9;    
    .cell-item{
        position: relative;
        gap: 3px;
        &::after{
            content: "";
            width: 45px;
            height: 46px;
            background-image: url(../ui/shapes/game/750.png);
            position: absolute;
            left: 50%;
            bottom: 6px;
            transform: translateX(-54%) rotate(180deg);
        }        
    }
}
.item23{
    grid-column: 12;
    grid-row: 9;
}
.item24{
    grid-column: 11;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        &::after{
            content: "";
            width: 45px;
            height: 46px;
            background-image: url(../ui/shapes/game/778.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }        
    }
}
.item25{
    grid-column: 10;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        &::after{
            content: "";
            width: 45px;
            height: 46px;
            background-image: url(../ui/shapes/game/774.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }        
    }
}
.item26{
    grid-column: 9;
    grid-row: 9;
}
.item27{
    grid-column: 8;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        
        .cell__text{
            height: 100%;
            font-size: 19px;
        }

        &::after{
            content: "";
            width: 45px;
            height: 48px;
            background-image: url(../ui/shapes/game/770.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }        
    }
}
.item28{
    grid-column: 7;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 48px;
            background-image: url(../ui/shapes/game/766.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }
        .cell__text{
            z-index: 1;
        }       
    }
}
.item29{
    grid-column: 6;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 48px;
            background-image: url(../ui/shapes/game/762.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }
        .cell__text{
            z-index: 1;
        }       
    }
    
}
.item30{
    grid-column: 5;
    grid-row: 9;
}
.item31{
    grid-column: 4;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 48px;
            background-image: url(../ui/shapes/game/758.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}
.item32{
    grid-column: 3;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 48px;
            background-image: url(../ui/shapes/game/754.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
    
}
.item33{
    grid-column: 2;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 48px;
            background-image: url(../ui/shapes/game/744.png);
            position: absolute;
            left: 50%;
            bottom: 9px;
            transform: translateX(-54%) rotate(180deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}

.item34{
    grid-column: 1;
    grid-row: 9;
    .cell-item{
        position: relative;
        gap: 3px;
        flex-direction: column-reverse;
        &::after{
            content: "";
            width: 69px;
            height: 62px;
            background-image: url(../ui/shapes/game/699.png);
        }        
    }
}
.item35{
    grid-column: 1;
    grid-row: 8;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 44px;
            background-image: url(../ui/shapes/game/740.png);
            background-position: right;
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateX(0%) translateY(-50%) rotate(0deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}
.item36{
    grid-column: 1;
    grid-row: 7;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 44px;
            background-image: url(../ui/shapes/game/736.png);
            background-position: right;
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateX(0%) translateY(-50%) rotate(0deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}
.item37{
    grid-column: 1;
    grid-row: 6;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 45px;
            height: 44px;
            background-image: url(../ui/shapes/game/732.png);
            background-position: right;
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateX(0%) translateY(-50%) rotate(0deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}
.item38{
    grid-column: 1;
    grid-row: 5;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 25px;
            height: 44px;
            background-image: url(../ui/shapes/game/728.png);
            background-position: right;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateX(-60%) translateY(-50%) rotate(0deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
            font-size: 19px;
        }       
    }
}
.item39{
    grid-column: 1;
    grid-row: 4;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 40px;
            height: 44px;
            background-image: url(../ui/shapes/game/724.png);
            background-position: right;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateX(-30%) translateY(-50%) rotate(0deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}
.item40{
    grid-column: 1;
    grid-row: 3;

}
.item41{
    grid-column: 1;
    grid-row: 2;
    .cell-item{
        position: relative;
        gap: 3px;
        
        &::after{
            content: "";
            width: 50px;
            height: 39px;
            background-image: url(../ui/shapes/game/709.png);
            background-position: right;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateX(-30%) translateY(-50%) rotate(0deg);
        }
        .cell__text{
            z-index: 1;
            height: 100%;
        }       
    }
}

.player-all{
    background-color: #fff;
    width: 44px;
    height: 44px;

    border-radius: 20%;
    border: 1px solid #000;
    z-index: 1;
    margin: auto;
    position: relative;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 60%);
    background-size: cover;
}
.player-1{
    grid-column: 1;
    grid-row: 1;
    border: 4px solid #E20E0B;
    
    
}
.player-2{
    border: 4px solid #0681FD;
    grid-column: 1;
    grid-row: 1;
}

.player-3{
    border: 4px solid #F3D602;
    grid-column: 1;
    grid-row: 1;
}
.player-4{
    
    border: 4px solid #37BA00;
    grid-column: 1;
    grid-row: 1;
}
.player-5{
    border: 4px solid #D3089B;
    grid-column: 1;
    grid-row: 1;
}

.player-1, 
.player-2, 
.player-3, 
.player-4, 
.player-5{
    grid-column: 1;
    grid-row: 1;
}


.cell-top, .cell-bottom{
    .cell-item{
        transform: rotate(-180deg);
    }
}


@import "scss/start-screen";
@import "scss/game-footer";
@import "scss/make-deal";
@import "scss/auctionauction";
@import "scss/reg";
@import "scss/searchgame";

@import "scss/tooltip";
@import "scss/slider-scroll";
