<div class="make-deal">
  <div class="make-deal__title">Заключаем сделку</div>
  <div class="make-deal__content">
    <div class="make-deal__left">
      <div class="make-deal__block-img">
        <div class="make-deal__block-text">
          <div class="make-deal__block-name">Оля Бойко</div>
          <div class="make-deal__block-post">Олигарх</div>
        </div>
        <img src="assets/img/player.jpg" alt="">
      </div>
      <hr>
      <div class="make-deal__amount">Сумма активов 0</div>

    </div>
    <div class="make-deal__right">
      <div class="make-deal__block-img">
        <img src="assets/img/player.jpg" alt="">
        <div class="make-deal__block-text">
          <div class="make-deal__block-name">Оля Бойко</div>
          <div class="make-deal__block-post">Олигарх</div>
        </div>
      </div>
      <hr>
      <div class="make-deal__input">
        <span>Киев</span>
        <span>230000</span>
      </div>
      <div class="make-deal__amount">Сумма активов 0</div>

    </div>
  </div>
  <div class="make-deal__footer">
    <div class="scroll-bar__numbers scroll-bar__crutch">30%</div>



    <div class="btns-actions btns-actions--center">
      <button class="btn btn--green-w btn--active">Подписать</button>
      <button class="btn btn--yellow-w ">Отмена</button>
    </div>


  </div>

</div>
