<div class="auctionauction">
  <div class="auctionauction__title">
      Аукцион
  </div>
  <div class="auctionauction__content">
      <div class="auctionauction__p">Пользователь Наталья Кисленко <br>
      выставил на аукцион</div>
      <div class="auctionauction__p">Текущая цена: 200 000$ <br>
      Цена после подтверждения увеличится на 20 000$</div>

      <div class="auctionauction__d">Автоматически отказ через 6 секунд</div>

      <div class=" btns-actions auctionauction__btns">

          <button class="btn btn--yellow btn--active">Учавствовать</button>

          <button class="btn btn--yellow btn--active ">Отказаться</button>

      </div>

  </div>
</div>
