<!--Артём сюда-->
<div class="footer__new">
    <!-- Общий блок с карточками -->
    <div class="players__cards">
        <!-- Карточка игрока -->
        <div class="player__card opponent-1">
            <div class="player__card-content">
                <div class="card__player-info">
                    <h3 class="player__card-title">Света</h3>
                    <p class="player__card-desc">Менеджер</p>
                </div>
                <div class="card__money-info">
                    <span class="player__card-money">757 000</span>
                    <span class="player__card-allMoney">6 780 000 $</span>
                </div>
            </div>
            <div class="player__card-photo">
                <img src="./img/2048x1365_1287367_[www.ArtFile.ru].jpg" alt="photo" class="player__photo-pic">
            </div>
        </div>
    </div>
</div>