<div class="footer-players">

  <div class="container">



    <div class="oponents oponents--time oponents--red">
      <div class="oponents__button">
        <p class="play__player-temporary-time">осталось <span class="bold">74</span> времени</p>
        <div class="play__player-temporary-timebar"></div>
      </div>
      <div class="oponents__player-content">
        <div class="oponents__player-content-info">
          <p class="oponents__player-content-info-name">Света</p>
          <p class="oponents__player-content-info-post">менеджер</p>
          <p class="oponents__player-content-info-currency1"><span class="symbol-dollar">$</span> 505 000</p>
          <p class="oponents__player-content-info-currency2"><span class="symbol-a">А</span> 2 320 000$</p>
        </div>
        <div class="oponents__player-content-img">
          <img src="assets/img/player4.webp" alt="">
        </div>
      </div>
    </div>

    <div class="oponents oponents--blue">
      <div class="oponents__button">
        <button>заключить сделку</button>
      </div>
      <div class="oponents__player-content">
        <div class="oponents__player-content-info">
          <p class="oponents__player-content-info-name">Маша</p>
          <p class="oponents__player-content-info-post">менеджер</p>
          <p class="oponents__player-content-info-currency1"><span class="symbol-dollar">$</span> 505 000</p>
          <p class="oponents__player-content-info-currency2"><span class="symbol-a">А</span> 2 320 000$</p>
        </div>
        <div class="oponents__player-content-img">
          <img src="assets/img/player5.webp" alt="">
        </div>
      </div>
    </div>

    <div class="oponents oponents--yellow">
      <div class="oponents__button" style="opacity: 0;">
        <button>заключить сделку</button>
      </div>
      <div class="oponents__player-content">
        <div class="oponents__player-content-info">
          <p class="oponents__player-content-info-name">Сергей</p>
          <p class="oponents__player-content-info-post">менеджер</p>
          <p class="oponents__player-content-info-currency1"><span class="symbol-dollar">$</span> 505 000</p>
          <p class="oponents__player-content-info-currency2"><span class="symbol-a">А</span> 2 320 000$</p>
        </div>
        <div class="oponents__player-content-img">
          <img src="assets/img/player3.webp" alt="">
        </div>
      </div>
    </div>

    <div class="oponents oponents--green">
      <div class="oponents__button" style="opacity: 0;">
        <button>заключить сделку</button>
      </div>
      <div class="oponents__player-content">
        <div class="oponents__player-content-info">
          <p class="oponents__player-content-info-name">Анна</p>
          <p class="oponents__player-content-info-post">менеджер</p>
          <p class="oponents__player-content-info-currency1"><span class="symbol-dollar">$</span> 505 000</p>
          <p class="oponents__player-content-info-currency2"><span class="symbol-a">А</span> 2 320 000$</p>
        </div>
        <div class="oponents__player-content-img">
          <img src="assets/img/player2.webp" alt="">
        </div>
      </div>
    </div>

    <div class="oponents oponents--violet">
      <div class="oponents__button" style="opacity: 0;">
        <button>заключить сделку</button>
      </div>
      <div class="oponents__player-content">
        <div class="oponents__player-content-info">
          <p class="oponents__player-content-info-name">Лена</p>
          <p class="oponents__player-content-info-post">менеджер</p>
          <p class="oponents__player-content-info-currency1"><span class="symbol-dollar">$</span> 505 000</p>
          <p class="oponents__player-content-info-currency2"><span class="symbol-a">А</span> 2 320 000$</p>
        </div>
        <div class="oponents__player-content-img">
          <img src="assets/img/player.jpg" alt="">
        </div>
      </div>
    </div>

  </div>

</div>
