<div class="header-menu">
  <div class="header-menu__left">
    <div class="header-menu__item">
      Время в игре:
      <span class="header-menu__time">00:16:25</span>
    </div>
    <div class="header-menu__item">
      Время в игре:
      <span class="header-menu__move">55</span>
    </div>
    <div class="header-menu__item">
      Ставка:
      <span class="header-menu__move">Нет</span>
    </div>
    <div class="header-menu__item">
      Зрителей:
      <span class="header-menu__move">0</span>
    </div>
  </div>
  <div class="header-menu__right">
    <a class="header-menu__icon header-menu__info" href="#"><i class="bi bi-info"></i></a>
    <a class="header-menu__icon header-menu__sound" href="#"><i class="bi bi-volume-down-fill"></i></a>
    <a class="header-menu__icon header-menu__full" href="#"><i class="bi bi-arrows-fullscreen"></i></a>
  </div>
</div>

<div class="header-btn btns-actions">

  <button class="btn btn--yellow btn--active">Купить</button>
  <button class="btn btn--yellow ">Аукцион</button>
  <button class="btn btn--yellow ">Отказаться</button>
  <button class="btn btn--yellow ">Продать</button>
  <button class="btn btn--yellow btn--active">Заложить</button>


  <button class="btn btn--red btn--active btn--end">Сдаться</button>

</div>
