<div class="header-menu">
  <div class="header-menu__left">
    <div class="header-menu__item">
      Время в игре:
      <span class="header-menu__time">00:16:25</span>
    </div>
    <div class="header-menu__item">
      Ход:
      <span class="header-menu__move">55</span>
    </div>
    <div class="header-menu__item">
      Ставка:
      <span class="header-menu__move">Нет</span>
    </div>
    <div class="header-menu__item">
      Зрителей:
      <span class="header-menu__move">0</span>
    </div>
  </div>
  <div class="header-menu__right">
    <a class="header-menu__icon header-menu__info header-menu__1" href="#"><i class="bi bi-info"></i></a>
    <a class="header-menu__icon header-menu__sound header-menu__2" href="#"><i class="bi bi-volume-down-fill"></i></a>
    <a class="header-menu__icon header-menu__info" href="#"><i class="bi bi-info"></i></a>
    <a class="header-menu__icon header-menu__sound" href="#"><i class="bi bi-volume-down-fill"></i></a>
    <a class="header-menu__icon header-menu__full" href="#"><i class="bi bi-arrows-fullscreen"></i></a>
  </div>
</div>
<div class="header-btn btns-actions">


  <button class="btn btn-dice btn--yellow "> <img src="assets/ui/shapes/347.png"> Бросить <br> кубики</button>


  <button class="btn btn--yellow btn--active">Купить</button>
  <button class="btn btn--yellow btn--active">Построить</button>
  <button class="btn btn--yellow btn--active">Продать </button>
  <button class="btn btn--yellow ">Оплатить </button>
  <button class="btn btn--yellow ">Аукцион</button>
  <button class="btn btn--yellow ">Отказаться</button>
  <button class="btn btn--yellow btn--active">Заложить</button>
  <button class="btn btn--yellow ">Выкупить </button>
  <button class="btn btn--yellow ">Взять кредит </button>



  <button class="btn btn--red btn--active btn--end">Сдаться</button>

</div>
