<div class="header-menu">
  <div class="header-menu__left">
    <div class="header-menu__li header-menu__li--red">
      <span class="red">1000</span><br>
      место в<br> общем рейтинге
    </div>
    <div class="header-menu__li header-menu__li--yellow">
      <span class="red">1000</span><br>
      место в<br> рейтинге недели
    </div>
  </div>
  <div class="header-menu__center">
    <span>магнат</span>
  </div>
  <div class="header-menu__right">
    <a class="header-menu__icon header-menu__info header-menu__1" href="#"><i class="bi bi-info"></i></a>
    <a class="header-menu__icon header-menu__sound header-menu__2" href="#"><i class="bi bi-volume-down-fill"></i></a>
    <a class="header-menu__icon header-menu__info" href="#"><i class="bi bi-info"></i></a>
    <a class="header-menu__icon header-menu__sound" href="#"><i class="bi bi-volume-down-fill"></i></a>
    <a class="header-menu__icon header-menu__full" href="#"><i class="bi bi-arrows-fullscreen"></i></a>

    <a class="header-menu__new" href="#">Язык</a>
    <a  class="header-menu__new" href="#">Выход</a>
  </div>
</div>
