 <!-- Modal -->
 <div class="modal fade show" id="exampleDarkModal" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title text-white">Ежедневный бонус</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        <!-- <img src="./assets/img/bg.jpg" alt=""> -->
    <div class="modal__content">
    <h2 class="modal__content-title">Заходите в игру и получайте бонусы</h2>
    <div class="modal__bonus-chests">

      <div class="chest__card active">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">1</h3>
        <h3 class="chest__sum">1 млн $</h3>
      </div>
      <div class="chest__card">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">2</h3>
        <h3 class="chest__sum">2 млн $</h3>
      </div>
      <div class="chest__card">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">3</h3>
        <h3 class="chest__sum">3 млн $</h3>
      </div>
      <div class="chest__card">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">4</h3>
        <h3 class="chest__sum">4 млн $</h3>
      </div>
      <div class="chest__card">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">5</h3>
        <h3 class="chest__sum">5 млн $</h3>
      </div>
      <div class="chest__card">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">6</h3>
        <h3 class="chest__sum">6 млн $ + 1кг. золота</h3>
      </div>
      <div class="chest__card">
        <img src="img/chest.png" alt="chest" class="chest__pic">
        <h3 class="chest__day">7</h3>
        <h3 class="chest__sum">7 млн $ + 2кг. золота</h3>
      </div>

    </div>
    <h3 class="modal__text">
      При ежедневном посещении бонусы будут увеличиваться.<br>
      Пропустишь день - начнёшь сначала. Поэтому старайтесь заходить ежедневно!
    </h3>
    <h2 class="modal__content-title-2">Больше друзей - больше бонусов</h2>
    <h3 class="bottom__modal-text">
      У вас <span>5</span> друзей в этой игре<br>
      За каждого друга вы получаете <span>50 000 $</span><br>
      А за каждого друга онлайн - вы получите прибавку к стартовому капиталу вначале игры.
    </h3>
    </div>

      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Закрыть</button>

      </div>-->
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
