<!--Мизам-->

<div class="modal fade show" id="exampleDarkModal" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
     <div class="modal-content bg-dark">
        <div class="modal-header">
           <h4 class="modal-title text-white">название</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white">
          <div class="test-1">просто провыерить что всё подлключилось.
            Удаляй эту тестовую информацию. Можешь смело видоизменять модалку,
            только для этого добавляй дополнительный класс</div>
        </div>

     </div>
  </div>
</div>
  <div class="modal-backdrop fade show"></div>


