<!--Артём-->
<!-- Modal my__modal start -->
<div class="my__data-modal" id="my__data-modal">
    <div class="my__data-body">
        <img src="assets/ui/shapes/1906.png" alt="BG" class="my__data-bodyBG">
        <!-- Top items modal content -->
        <div class="my__data-content">
            <div class="my__modal-top-items">
                <h3 class="my__modal-top-title">мои данные</h3>
                <div class="my__modal-link">
                    <a href="#!" class="my__data-modalArrow">
                        <img src="img/205637.jpg" alt="arrows" class="my_data-modalArrow-pic">
                    </a>
                    <a href="#!" class="my__data-modalClose"></a>
                </div>
            </div>
            <!-- Center items modal content -->
            <div class="my__data-center-items">
                <div class="my__data-modalPhoto">
                    <img src="img/2048x1365_1287367_[www.ArtFile.ru].jpg" alt="Photo"
                        class="my__data-modalPhoto-pic">
                </div>
                <div class="my__data-modal-playerText">
                    <h3 class="my__data-modal-playerTitle">Снежанна Сысарина</h3>
                    <p class="my__data-modal-desc">Менеджер</p>
                </div>
            </div>
            <!-- Tabs start -->
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">Информация</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2">Шапки</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                <label for="tab-btn-3">Карты</label>
                <input type="radio" name="tab-btn" id="tab-btn-4" value="">
                <label for="tab-btn-4">Подарки</label>

                <div id="content-1">
                    <div class="my__data-tables">
                        <table class="my__data-table">
                            <tr>
                                <td class="my__data-tableTitle">Всего сыграно игр:</td>
                                <td class="my__data-tableNumber">7</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Сыграно командных игр:</td>
                                <td class="my__data-tableNumber">0</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Побед в играх:</td>
                                <td class="my__data-tableNumber">4</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Побед в играх 2х2:</td>
                                <td class="my__data-tableNumber">0</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Место в общем рейтенге:</td>
                                <td class="my__data-tableNumber">30000</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Турниров посещено:</td>
                                <td class="my__data-tableNumber">0</td>
                            </tr>
                        </table>

                        <table class="my__data-table">
                            <tr>
                                <td class="my__data-tableTitle">Статус:</td>
                                <td class="my__data-tableStatus">Стандарт</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Общий капитал:</td>
                                <td class="my__data-table-GeneralCapital">34 004 600 $</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">За неделю:</td>
                                <td class="my__data-table-Week">7 504 600 $ и 0 кг.</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Последнее посещение:</td>
                                <td class="my__data-table-LastVisit">Online</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Место в рейтенге недели:</td>
                                <td class="my__data-table-Rating">13495</td>
                            </tr>
                            <tr>
                                <td class="my__data-tableTitle">Побед в турнирах:</td>
                                <td class="my__data-table-Wins">0</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="content-2">
                    <div class="search__categories">
                        <ul>
                            <li>Абстракции-разное</li>
                        </ul>
                    </div>
                </div>
                <div id="content-3">
                    <div class="search__categories">
                        <ul>
                            <li>Популярные</li>
                        </ul>
                    </div>
                </div>
                <div id="content-4">
                    <div class="search__categories">
                        <ul>
                            <li>Абстракции-разное</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Tabs end -->
    </div>
</div>
<!-- Modal my__modal end -->