<div class="allbonus">
  <div class="allbonus__container">
      <div class="allbonus__head">
          <img src="img/Allbonus.jpg" alt="">
      </div>
      <div class="allbonus__container-info">
          <div class="allbonus__container-info-goldscale">
              <div class="allbonus__container-info-goldscale-value">
              <img src="img/gold.jpg" alt="">
              <p class="playwithfriends__container-standart-gold">1.50</p>
              </div>
              <div class="allbonus__container-info-goldscale-scale"></div>
          </div>
          <div class="allbonus__container-info-goldscale-button">
              <div class="allbonus__container-info-goldscale-button-text">
                  <p class="playwithfriends__container-standart-gold">Золото и капитал накапливаются, если вы онлайн. Вы можете забрать
                      накопленное прямо сейчас или подождать, пока накопится побольше :)</p>
              </div>
              <button type="button">Забрать</button>
          </div>
          <div class="playwithfriends__container">
              <p class="playwithfriends__container-standart">Бонус "Сыграй с друзьями"</p>
              <p class="playwithfriends__container-standart-gold">Вы можете <span class="playwithfriends__container-standart-gold-big"> позвать в игру и сыграть 6 игр</span>
                  со своими друзьями ВКонтакте или Одноклассниках. За 6 настоящих игр с настоящими соперниками вы получите <span class="playwithfriends__container-standart-gold-big"> 2кг</span> золота. Это
                  ежедневное задание, вы можете каждый день играть и получать по 2кг! Игры должны быть
                  не подставными и не менее 10 минут.</p>
          </div>
          <div class="playwithfriends__container">
              <p class="playwithfriends__container-standart">Бонус "Позвать друга"</p>
              <p class="playwithfriends__container-standart-gold">Вы можете <span class="playwithfriends__container-standart-gold-big">позвать</span> друга в игру, если он еще не заходил сегодня, и когда он зайдет, по
                  вашему приглашению, то вы оба получите по <span class="playwithfriends__container-standart-gold-big">0.2кг</span> золота. Приглашайте друзей в игру,
                  чтобы каждый день получать золото.</p>
          </div>
          <div class="playwithfriends__container">
              <p class="playwithfriends__container-standart">Ежедневный бонус</p>
              <p class="playwithfriends__container-standart-gold">Не забудьте завтра зайти в игру, чтобы получить <span class="playwithfriends__container-standart-gold-big">2 500 000$</span> </p>
                  <p class="playwithfriends__container-standart-gold">Чем больше у Вас друзей в игре, тем больше каптала получите.</p>
          </div>
      <br>
      </div>

  </div>
</div>
