<div class="modal fade show" id="exampleDarkModal" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
	<div class="modal-dialog modal-lg modal-dialog-centered modal_width">
		<div class="modal-content bg-dark modal_height">
			<div class="modal-header modal_position_fixed">
				<h4 class="modal-title text-white">Магазин</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="nav-bar">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item shop__nav__item" role="presentation"><button class="active" id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards" type="button" role="tab" aria-controls="cards" aria-selected="true"><img src="./img/tab1.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="sets-tab" data-bs-toggle="tab" data-bs-target="#sets" type="button" role="tab" aria-controls="sets" aria-selected="false"><img src="./img/tab2.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="bank-tab" data-bs-toggle="tab" data-bs-target="#bank" type="button" role="tab" aria-controls="bank" aria-selected="false"><img src="./img/tab3.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="bank-tab" data-bs-toggle="tab" data-bs-target="#bank" type="button" role="tab" aria-controls="bank" aria-selected="false"><img src="./img/tab4.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="bank-tab" data-bs-toggle="tab" data-bs-target="#bank" type="button" role="tab" aria-controls="bank" aria-selected="false"><img src="./img/tab5.png"></button></li>
				</ul>
			</div>
			<div class="modal-body text-white tab-content" id="myTabContent">
				
			</div>
		</div>
	</div>
</div>
<div class="modal-backdrop fade show"></div>  