<div class="shopcards__container">
  <p>НАЛОГОВЫЙ ИММУНИТЕТ</p>
  <p class="shopcards__container-p-gold">Приобретая данную VIP карту Вы получаете уменьшение стоимости платы
      при попадании на клетку "Налог"</p>
  <div class="shopcards__container-cards">
      <div class="shopcards__container-cards-item">
          <div class="shopcards__container-cards-item-img"></div><img src="img/card1.jpg" alt="">
          <p>Оплата 80% от налога</p>
          <p class="shopcards__container-p-gold">цена:4кг</p>
          <p>Требования: <span class="shopcards__container-p-gold">Менеджер</span></p>
          <p>Активна: <span class="shopcards__container-p-gold">3 дня</span></p>
      </div>
      <div class="shopcards__container-cards-item"><img src="img/card2.jpg" alt="">
          <p>Оплата 60% от налога</p>
          <p class="shopcards__container-p-gold">цена:20кг</p>
          <p>Требования: <span class="shopcards__container-p-gold">Коммерсант</span></p>
          <p>Активна: <span class="shopcards__container-p-gold">7 дней</span></p>
      </div>
      <div class="shopcards__container-cards-item"><img src="./img/card3.jpg" alt="">
          <p>Оплата 40% от налога</p>
          <p class="shopcards__container-p-gold">цена:50кг</p>
          <p>Требования: <span class="shopcards__container-p-gold">Банкир</span></p>
          <p>Активна: <span class="shopcards__container-p-gold">10 дней</span></p>
      </div>
  </div>
  <div class="shopcards__container-cards-item4"><img src="./img/card3.jpg" alt="">
      <p>Оплата 40% от налога</p>
      <p class="shopcards__container-p-gold">цена:50кг</p>
      <p>Требования: <span class="shopcards__container-p-gold">Банкир</span></p>
      <p>Активна: <span class="shopcards__container-p-gold">10 дней</span></p>
  </div>
</div>
