<div class="modal fade show" id="exampleDarkModal" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
	<div class="modal-dialog modal-lg modal-dialog-centered modal_width">
		<div class="modal-content bg-dark modal_height">
			<div class="modal-header modal_position_fixed">
				<h4 class="modal-title text-white">Профиль игрока</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="nav-bar">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item shop__nav__item" role="presentation"><button class="active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true"><img src="./img/tab1.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="hats-tab" data-bs-toggle="tab" data-bs-target="#hats" type="button" role="tab" aria-controls="hats" aria-selected="false"><img src="./img/tab2.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards" type="button" role="tab" aria-controls="cards" aria-selected="false"><img src="./img/tab3.png" class="shop__nav__img_width"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="gift-tab" data-bs-toggle="tab" data-bs-target="#gift" type="button" role="tab" aria-controls="gift" aria-selected="false"><img src="./img/tab4.png"></button></li>
					<li class="nav-item shop__nav__item" role="presentation"><button id="medal-tab" data-bs-toggle="tab" data-bs-target="#medal" type="button" role="tab" aria-controls="medal" aria-selected="false"><img src="./img/tab5.png" class="shop__nav__img_height"></button></li>
				</ul>
			</div>
			<div class="modal-body text-white tab-content" id="myTabContent">
				<div class="tab-pane fade show active scrolls-card" id="info" role="tabpanel" aria-labelledby="info-tab">
					<div class="shop__informations">
						<div class="shop__informations__left">
							<div class="information__text">Всего сыграно игр: <span>0</span></div>
							<div class="information__text">Побед: <span>0</span></div>
							<div class="information__text">Побед в парных: <span>0</span></div>
							<div class="information__text">Общий капитал: <span>0$</span></div>
							<div class="information__text">За неделю: <span>0$</span></div>
							<div class="information__text">Побед в турнирах: <span>0/0</span></div>
						</div>
						<div class="shop__informations__right">
							<div class="information__text">Статус: <span>Стандарт</span></div>
							<div class="information__text">Подарков: <span>0</span></div>
							<div class="information__text">Золото за сутки: <span>0.0кг</span></div>
							<div class="information__text">Последний вход: <span>Оффлайн</span></div>
							<div class="information__text">В игре: <span>0ч.</span></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade scrolls-card" id="hats" role="tabpanel" aria-labelledby="hats-tab">
					<div class="warning__shop">Шапки приобретаются на 7 дней.</div>
					<div class="hat__cards__wrapper">
						<div class="hat__card">
							<div class="hat__card__title">Новогодняя</div>
							<img src="./img/30.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка Санта-клауса. Умножит выигранный вами капитал в 3 раза, и добавит + 20% к выигранному золоту (Но не более +20кг)</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Белая шляпа</div>
							<img src="./img/38.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Если вы хотите быстрее стать Президентом, то Белая шляпа вам в этом поможет. Выигранный капитал сразу же будет умножаться вдвое!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Соломенная шляпа</div>
							<img src="./img/39.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Если вам невтерпёж стать Легендой сервера, то элегантная соломенная шляпка - ваш выбор. Выигранный капитал сразу же будет умножаться вдвое!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Зелёная фуражка</div>
							<img src="./img/40.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Зелёная фуражка просто увеличит выигранный вами капитал вдвое, без вопросов.</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Белая шляпа</div>
							<img src="./img/41.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Хотите быстрее наигрывать капитал и при этом выглядеть элегантно, то Шляпа Казанова вам в этом поможет. Выигранный капитал будет умножаться вдвое!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Рожки дьявола</div>
							<img src="./img/42.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Дьявольская прибавка х2 к капиталу при победе!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Ушки кошки</div>
							<img src="./img/43.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Ушки дают х2 к капиталу при победе!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Корона</div>
							<img src="./img/45.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Царская корона. х2 к капиталу и + 5% к золоту при победе!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Вязаная шапочка</div>
							<img src="./img/2.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Повседневная, тёплая шапка. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шляпа Босса</div>
							<img src="./img/3.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шляпа, для серьёзных людей. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка с пумпоном</div>
							<img src="./img/6.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Повседневная, тёплая шапка. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Кепка пацана</div>
							<img src="./img/8.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Пацанский кепарик, даст вам +15% к выигранному капиталу и 10% к золоту.</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка лётчика</div>
							<img src="./img/12.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка лётчика. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка Шута</div>
							<img src="./img/13.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Все любят подарки, а если Вам подарят подарок, когда вы будете в шапке шута, то срок его действия удвоится</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Берет</div>
							<img src="./img/16.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Женский берет. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Наушники</div>
							<img src="./img/17.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Чтобы и уши в тепле и золотишко копилось. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Растаманская</div>
							<img src="./img/26.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка для тех, кто радуется жизни не смотря ни на что. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Грузинская</div>
							<img src="./img/27.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Национальный грузинский головной убор. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Ушки</div>
							<img src="./img/28.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Зайкины ушки. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шляпа с пером</div>
							<img src="./img/29.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Стильная шляпа с пером. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Ковбойская</div>
							<img src="./img/33.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Почувствуйте себя ковбоем. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шляпа ведьмы</div>
							<img src="./img/35.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шляпа ведьмы. +10% к золоту и 15% к капиталу, достойная прибавка к зарплате ведьмы.</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Ушки тигра</div>
							<img src="./img/44.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Стань тигром! Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Панама</div>
							<img src="./img/46.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Панама. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка Гранда</div>
							<img src="./img/1.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Эту шапку выполучите, как только станете Грандом. Надетая шапка добавит вам +24% к выигранному капиталу</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Военная</div>
							<img src="./img/4.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Военная шапка. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Турнир Мэн</div>
							<img src="./img/14.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Победив в турнире, вы получите эту шапку. Надев её, вы будете получать +1 очко в рейтинг недели, за каждый этап турнира</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Любимчик Магната</div>
							<img src="./img/15.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Получив 25 подарков от Магната, вы получите такую шапку. В ней ваш выигрыш капитала увеличится на 30%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Кокошник Леди</div>
							<img src="./img/18.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Получив 25 подарков от Леди, вы получите такой кокошник. В нём ваш выигрыш капитала и золота увеличится на 20%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка Коммерсанта</div>
							<img src="./img/19.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Эту шапку вы получите, как только станете Коммерсантом. Надетая шапка добавит вам +15% к выигранному капиталу</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка Банкира</div>
							<img src="./img/20.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Эту шапку вы получите, как только станете Банкиром. Надетая шапка добавит вам +20% к выигранному капиталу</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка Богача</div>
							<img src="./img/21.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Эту шапку выполучите, как только станете Богачом. Надетая шапка добавит вам +27% к выигранному капиталу</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка Капиталиста</div>
							<img src="./img/22.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Эту шапку выполучите, как только станете Капиталистом. Надетая шапка добавит вам +30% к выигранному капиталу</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка именинника</div>
							<img src="./img/23.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">У вас годовщина! Вы получаете шапку именинника! Шапка даст вам +30% к выигранному капиталу и золоту!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Победитель Магната</div>
							<img src="./img/24.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка выдаётся за победу у Магната. Недельный капитал за игры, сыгранные в этой шапке, удвоится.</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка завсегдатого</div>
							<img src="./img/25.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка выдаётся на каждый 30 день ежедневной игры. Надетая шапка Увеличит Ваш выигрыш капитала на 25%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Галстук</div>
							<img src="./img/31.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Пионерский галстук. Доступен только участникам клана. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Диадема</div>
							<img src="./img/32.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Женская диадема. Доступна только участникам клана. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Полицейская</div>
							<img src="./img/34.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка полицейского. Доступна только участникам клана. Увеличит ваш выигрыш капитала на 15% и золота на 10%</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Шапка новичка</div>
							<img src="./img/36.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Шапка новичка. Выдаётся всем новичкам на второй день игры. Увеличивает выигранный капитал вдвое!</div>
						</div>
						<div class="hat__card">
							<div class="hat__card__title">Фуражка</div>
							<img src="./img/37.png" alt="Шапка" class="hat__card__img">
							<div class="hat__card__text">Фуражку можно получить, открыв мешочек с городом. Мешочек с городом можно получить захватив соответствующий бизнес. Фуражка даёт +10% к золоту и 15% к капиталу.</div>
						</div>
						<div class="warning__shop">Максимальный бонус от шапки достигается при игре на ставку до 100кг.</div>
					</div>
				</div>
				<div class="tab-pane fade scrolls-card" id="cards" role="tabpanel" aria-labelledby="cards-tab">
					Пока нет ни одной карты
				</div>
				<div class="tab-pane fade scrolls-card" id="gift" role="tabpanel" aria-labelledby="gift-tab">
					Пока нет ни одного подарка
				</div>
				<div class="tab-pane fade scrolls-card" id="medal" role="tabpanel" aria-labelledby="medal-tab">
					<!-- Чтобы сделать медаль активной, необходимо убрать классс inactive -->
					<div class="medal__cards__wrapper">
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv1.png" alt="Медаль">
							<div class="medal__title">Новый титул</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv2.png" alt="Медаль">
							<div class="medal__title">День рождения</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv3.png" alt="Медаль">
							<div class="medal__title">Новый год</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv4.png" alt="Медаль">
							<div class="medal__title">Преданный</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv5.png" alt="Медаль">
							<div class="medal__title">Старожил</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv6.png" alt="Медаль">
							<div class="medal__title">Весомый</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv7.png" alt="Медаль">
							<div class="medal__title">Топовый</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv8.png" alt="Медаль">
							<div class="medal__title">Царь кощей</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv9.png" alt="Медаль">
							<div class="medal__title">Состоятельный</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv10.png" alt="Медаль">
							<div class="medal__title">Богач</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv11.png" alt="Медаль">
							<div class="medal__title">Дублёр</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv12.png" alt="Медаль">
							<div class="medal__title">Дублёр 5</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv13.png" alt="Медаль">
							<div class="medal__title">Трипл</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv15.png" alt="Медаль">
							<div class="medal__title">Трипл 2</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv16.png" alt="Медаль">
							<div class="medal__title">100 бросков</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv17.png" alt="Медаль">
							<div class="medal__title">250 бросков</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv18.png" alt="Медаль">
							<div class="medal__title">500 бросков</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv19.png" alt="Медаль">
							<div class="medal__title">1000 бросков</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv20.png" alt="Медаль">
							<div class="medal__title">25 бросков</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv21.png" alt="Медаль">
							<div class="medal__title">456</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv22.png" alt="Медаль">
							<div class="medal__title">123</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv23.png" alt="Медаль">
							<div class="medal__title">Кредит</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv24.png" alt="Медаль">
							<div class="medal__title">Академик</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv25.png" alt="Медаль">
							<div class="medal__title">Фрукты 2</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv26.png" alt="Медаль">
							<div class="medal__title">Фрукты</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv27.png" alt="Медаль">
							<div class="medal__title">Бизнес</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv28.png" alt="Медаль">
							<div class="medal__title">Бонус</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv29.png" alt="Медаль">
							<div class="medal__title">Дед Джек</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv30.png" alt="Медаль">
							<div class="medal__title">Дети</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv31.png" alt="Медаль">
							<div class="medal__title">Леди</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv32.png" alt="Медаль">
							<div class="medal__title">Старуха</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv33.png" alt="Медаль">
							<div class="medal__title">Дед Win</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv34.png" alt="Медаль">
							<div class="medal__title">Леди Win</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv35.png" alt="Медаль">
							<div class="medal__title">Старуха Win</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv36.png" alt="Медаль">
							<div class="medal__title">Парник</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv37.png" alt="Медаль">
							<div class="medal__title">Долгая игра</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv38.png" alt="Медаль">
							<div class="medal__title">Круговорот</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv39.png" alt="Медаль">
							<div class="medal__title">2 моно</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv40.png" alt="Медаль">
							<div class="medal__title">5 моно</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv41.png" alt="Медаль">
							<div class="medal__title">9 моно</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv42.png" alt="Медаль">
							<div class="medal__title">Аренда 5млн</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv43.png" alt="Медаль">
							<div class="medal__title">Аренда 10млн</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv44.png" alt="Медаль">
							<div class="medal__title">Аренда 20млн</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv45.png" alt="Медаль">
							<div class="medal__title">Захватчик</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv46.png" alt="Медаль">
							<div class="medal__title">Инвестор</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv47.png" alt="Медаль">
							<div class="medal__title">Лакер</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv48.png" alt="Медаль">
							<div class="medal__title">Наложище</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv49.png" alt="Медаль">
							<div class="medal__title">4 Города</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv50.png" alt="Медаль">
							<div class="medal__title">Пожар</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv51.png" alt="Медаль">
							<div class="medal__title">Ставка 4кг</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv52.png" alt="Медаль">
							<div class="medal__title">Ставка 50кг</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv53.png" alt="Медаль">
							<div class="medal__title">Ставка 200кг</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv54.png" alt="Медаль">
							<div class="medal__title">Турнир</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv55.png" alt="Медаль">
							<div class="medal__title">Турнир Win</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv56.png" alt="Медаль">
							<div class="medal__title">Турнир 15</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv57.png" alt="Медаль">
							<div class="medal__title">Подписка</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv58.png" alt="Медаль">
							<div class="medal__title">Набор карт</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv59.png" alt="Медаль">
							<div class="medal__title">Подарок</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv60.png" alt="Медаль">
							<div class="medal__title">Привидение</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv61.png" alt="Медаль">
							<div class="medal__title">Академик 2</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv62.png" alt="Медаль">
							<div class="medal__title">Пополнение</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv63.png" alt="Медаль">
							<div class="medal__title">Казна</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv64.png" alt="Медаль">
							<div class="medal__title">Мешочек</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv65.png" alt="Медаль">
							<div class="medal__title">Чат</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv66.png" alt="Медаль">
							<div class="medal__title">Против пары</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv67.png" alt="Медаль">
							<div class="medal__title">Пара дня</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv68.png" alt="Медаль">
							<div class="medal__title">Риск 4</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv69.png" alt="Медаль">
							<div class="medal__title">Риск 5</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv70.png" alt="Медаль">
							<div class="medal__title">Риск 6</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv71.png" alt="Медаль">
							<div class="medal__title">Риск 10</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv72.png" alt="Медаль">
							<div class="medal__title">Миссия</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv73.png" alt="Медаль">
							<div class="medal__title">Риск-Турнир</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv74.png" alt="Медаль">
							<div class="medal__title">Риск-Турнир Win</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv75.png" alt="Медаль">
							<div class="medal__title">Риск-Турнир 30</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv76.png" alt="Медаль">
							<div class="medal__title">Риск-Турнир 100</div>
						</div>
						<div class="medal__card inactive">
							<img class="medal__img" src="./img/achiv77.png" alt="Медаль">
							<div class="medal__title">Риск-Турнир 200</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-backdrop fade show"></div>  