<div class="auctionauction-bg"></div>
		<div class="auctionauction auctionauction--game">
			<div class="auctionauction__title">
				Садимся?
			</div>
			<div class="auctionauction__content">


				<div class="auctionauction__d">Вы уверены, что хотите сесть за стол Наталья Кисленко</div>

				<div class=" btns-actions auctionauction__btns">

					<button class="btn btn--green-w btn--active">Принять</button>

					<button class="btn btn--yellow-w btn--active ">Отмена</button>

				</div>

			</div>
		</div>
