.modal_width{
	max-width: 900px;
}

.modal_height{
	height: 700px;
	overflow-y: scroll;
}

.modal_position_fixed{
	z-index: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    position: fixed;
    width: 897px;
}

.nav-bar{
	position: fixed;
	z-index: 1;
	width: 897px;
	margin-top: 60px;
	padding: 1em 0 1em 1em;
	border-bottom: 1px solid #dee2e6;
	background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.nav-bar ul{
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.nav-bar li button{
	padding: 0;
	border: 0;
	background: none;
	margin-right: 16px;
	color: rgba(0,183,181,.5);
	opacity: .9;
	text-transform: uppercase;
}

.nav-bar li button:hover{
	opacity: 1;
}

.nav-bar .active{
	color: #fff;
}

.nav-tabs{
	border: none;
}

.scrolls-card{
	margin-top: 115px;
}

.store-cards{
	text-align: center;
	margin-top: 50px;
}

.store__cards__title{
	color: #fff;
	font-size: 19px;
	text-align: center;
}

.store__cards__title span{
	color: #dea700;
	font-size: 18px;
	margin-left: 10px;
}

.store__cards__text{
	color: #ffc000;
	margin-top: 14px;
	text-align: center;
}

.store__cards__text span{
	text-decoration: underline;
	font-size: 18px;
}

.cards-wrapper{
	display: flex;
	justify-content: space-around;
}

.card__img{
	transform: rotate(15deg);
	width: 162px;
    height: 162px;
}

.card__title{
	color: #fffefe;
	font-size: 17px;
	margin-bottom: 10px;
}

.card__price{
	color: #ffc000;
	font-size: 16px;
}

.card__requirements, .card__actives{
	color: #fffefe;
	font-size: 16px;
}

.card__requirements span, .card__actives span{
	color: #00caa1;
}

.inactive{
	opacity: .2;
}

.img__wrapper{
	display: flex;
	justify-content: center;
}

.sets__img{
	transform: rotate(15deg);
	width: 60px;
	height: 60px;
}

.sets__img_margin{
	margin-right: 20px;
}

.sets__img__vip{
	width: 60px;
	height: 60px;
}

.golds{
	display: flex;
}

.gold-wrapper{
	background-image: url(../img/gold__bg.jpg);
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    width: 165px;
	height: 165px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.gold-wrapper:hover {
    box-shadow: 0 0 7px rgba(255,255,0,.71)
}

.gold__item{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;
    width: 100%;
    padding: 12px 6px 6px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 115px auto;
	text-align: center;
}

.gold__title{
	color: #fffefe;
    font-size: 16px;
    font-weight: 400;
}

.gold__title span{
	color: #dea700;
    font-size: 15px;
}

.gold__price{
	display: flex;
    justify-content: center;
    width: 100%;
    height: 28px;
    background-color: rgba(4,22,29,.8);
    border-radius: 14px;
    color: #fffefe;
    font-size: 18px;
    font-weight: 400;
}

.gold__item_2{
	background-image: url(../img/mp_gold-2.png);
}
.gold__item_3{
	background-image: url(../img/mp_gold-3.png);
}
.gold__item_4{
	background-image: url(../img/mp_gold-4.png);
}
.gold__item_5{
	background-image: url(../img/mp_gold-5.png);
}

.btn__buy__vip{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.btn__vip__img{
	width: 70px;
    height: 70px;
    margin-right: 15px;
}

.btn__vip__title{
	display: flex;
	align-items: center;
}

.btn__vip__btn{
	display: flex;
	border-radius: 14px;
    color: #fffefe;
    font-size: 13px;
    font-weight: 400;
	width: 90px;
	height: 29px;
	text-align: center;
	align-items: center;
    background-color: rgba(0,158,126,.5);
	border: none;
	padding: 7px 19px;
	margin-top: 20px;
    margin-left: 10px;
}

.vip__advantages{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.vip__advantage__text{
	margin: 0;
}