@charset "UTF-8";
/* stylelint-disable */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-v13-cyrillic_latin-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/manrope-v13-cyrillic_latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /*font-family: 'Manrope', sans-serif;*/
  color: #000;
}

body {
  background-color: #000000;
  color: #000;
  transition: 0.5s;
}

.site-container {
  min-height: 100vh;
  flex-direction: column;
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu__li {
  line-height: 1;
  position: relative;
  padding-left: 18px;
  font-size: 11px;
}
.header-menu__li::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header-menu__li span {
  font-size: 110%;
}
.header-menu__li > .header-menu__li {
  margin-left: 15px;
}

.header-menu__li--red span {
  color: #BD2C1B;
}
.header-menu__li--red::before {
  color: #BD2C1B;
}

.header-menu__li--yellow span {
  color: rgb(245, 158, 38);
}
.header-menu__li--yellow::before {
  color: rgb(245, 158, 38);
}

.board-grid {
  display: grid !important;
  grid-template-rows: 2.875fr repeat(7, 1fr) 2.875fr;
  grid-template-columns: 2.875fr repeat(12, 1fr) 2.875fr;
  width: 100%;
  height: calc(100vh - 205px);
  margin: 0;
  border: 0px solid black;
  background-image: url(../assets/img/bg-tree4.jpg);
  min-height: 680px;
  gap: 3px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 13px;
  padding: 6px 6px;
  position: relative;
  margin-top: 5px;
}

.board-grid--bg-black {
  position: relative;
}
.board-grid--bg-black::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 2;
  opacity: 0.75;
}

.header-menu {
  height: 45px;
  width: 100%;
  background: rgb(13, 13, 13);
  background: linear-gradient(0deg, rgb(13, 13, 13) 0%, rgb(39, 39, 39) 100%);
}

.header-btn {
  height: 60px;
  width: 100%;
  border-bottom: 5px solid rgb(13, 13, 13);
  background-image: url(../assets/img/bg-tree6.jpg);
}

.footer-players {
  background-image: url(../assets/img/bg-tree6.jpg);
  width: 100%;
  border-top: 12px solid rgb(13, 13, 13);
}

.header-btn__item {
  width: 40px;
  height: 40px;
  background-color: #C8C8C8;
}

.header-menu {
  display: flex;
  color: #c7c7c7;
  justify-content: space-between;
  padding: 0 15px;
}

.header-menu__full {
  font-size: 15px;
}

.header-menu__right {
  display: flex;
  align-items: center;
}

.header-menu__left {
  display: flex;
  align-items: center;
  font-size: 13px;
  transform: translateY(5px);
}

.header-menu__item:not(:last-child) {
  margin-right: 20px;
}
.header-menu__item span {
  color: #DEA102;
  padding-left: 2px;
}

.header-menu__icon {
  width: 23px;
  height: 23px;
  background-color: #202020;
  border-radius: 4px;
  color: #c8c8c8;
  box-shadow: 0px 2px 0px 0px currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.header-menu__icon:not(:last-child) {
  margin-right: 8px;
}

.header-menu__new {
  color: #fff;
  padding: 4px;
}
.header-menu__new + .header-menu__new {
  padding-right: 0;
}

.header-menu__full {
  font-size: 15px;
}

.header-menu__1 {
  background-image: url(../assets/img/2.png);
  background-size: cover;
}
.header-menu__1 i {
  opacity: 0;
}

.header-menu__2 {
  background-image: url(../assets/img/3.png);
  background-size: cover;
}
.header-menu__2 i {
  opacity: 0;
}

.header-btn {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.btns-actions .btn {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 7px;
  padding: 0.15rem 0.5rem;
}
.btns-actions .btn:not(:last-child) {
  margin-right: 9px;
}
.btns-actions .btn--end {
  margin-left: auto;
}
.btns-actions .btn--yellow {
  min-width: 85px;
  background: rgb(224, 157, 4);
  background: linear-gradient(45deg, rgb(224, 157, 4) 0%, rgb(226, 161, 2) 100%);
  color: #000;
  border: 2px solid #794B00;
  box-shadow: 0 0 0px 2px #FACF56;
}
.btns-actions .btn--yellow.btn--active {
  background: rgb(255, 201, 7);
  background: linear-gradient(178deg, rgb(255, 201, 7) 0%, rgb(245, 158, 38) 100%);
  border: 2px solid #966901;
  box-shadow: 0 0 0px 2px #FFECA8;
}
.btns-actions .btn--yellow:hover {
  background: linear-gradient(178deg, rgb(255, 201, 7) 0%, rgb(245, 158, 38) 100%);
  border: 2px solid #966901;
  box-shadow: 0 0 0px 2px #FFECA8;
}
.btns-actions .btn--red {
  background: rgb(243, 90, 75);
  border: 2px solid #832A1E;
  box-shadow: 0 0 0px 2px #E39288;
  text-shadow: red 0 0 2px;
  text-shadow: black 0 0 3px;
}
.btns-actions .btn--red.btn--active {
  background: linear-gradient(145deg, rgb(243, 90, 75) 0%, rgb(177, 27, 15) 100%);
}
.btns-actions .btn-dice {
  position: relative;
  padding-left: 47px;
  line-height: 1;
}
.btns-actions .btn-dice img {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.big-house {
  position: absolute;
}

.cell-right .big-house {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%) rotate(-90deg);
}

.wrapper-house {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/*.small-house{

}*/
.cell-top .wrapper-house {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}

.cell {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: flex;
  /*gap: 1%;*/
}
.cell::after, .cell::before {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  background-image: url(../assets/img/bg-tree4.jpg);
  z-index: 1;
}

.cell-corner {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 500;
}

.cell__text {
  padding: 4px;
}

.cell-item {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  line-height: 1.26;
}

.cell-red {
  background: linear-gradient(0deg, #BD2C1B 0%, #F18376 100%);
}

.cell-yellow {
  background: linear-gradient(0deg, #EDB716 0%, #FFFF7D 100%);
}

.cell-lgreen {
  background: linear-gradient(0deg, #2C8A21 0%, #A0D669 100%);
}

.cell-blue {
  background: linear-gradient(0deg, #1387FE 0%, #A6D9FC 100%);
}

.cell-violet {
  background: linear-gradient(0deg, #F944A3 0%, #FCC2E0 100%);
}

.cell-price {
  position: absolute;
  writing-mode: rl-tb;
  width: 100%;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 13px;
  background: linear-gradient(90deg, #CACEC7 0%, #FCFBF9 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-price-yellow {
  background: linear-gradient(0deg, #DEA102 0%, #E3C806 100%);
}

.cell-price-red {
  background: linear-gradient(90deg, #FD868A 0%, #F4989B 100%);
}

.cell-price-violet {
  background: linear-gradient(-90deg, #A259D6 0%, #CDB3F2 100%);
}

.cell-price-blue {
  background: linear-gradient(0deg, #7FD0FC 0%, #61A6F7 100%);
}

.cell-price-ginger {
  background: linear-gradient(0deg, #E9B212 0%, #E96D05 100%);
}

.cell-price-green {
  background: linear-gradient(-90deg, #8BA61F 0%, #007E01 100%);
}

.cell-price-turquoise {
  background: linear-gradient(-90deg, #1F9E94 0%, #0B85A3 100%);
}

.cell-price-pink {
  background: linear-gradient(-90deg, #C85B7A 0%, #CA4CB1 100%);
}

.cell-price-l-green {
  background: linear-gradient(-90deg, #7CC732 0%, #76D7AE 100%);
}

.cell-price-l-purple {
  background: linear-gradient(-90deg, #ACC4FC 0%, #CE9AFA 100%);
}

/*.cell-corner .cell-item{
  width: 100%;
}*/
.cell-top {
  z-index: 1;
  justify-content: flex-end;
}
.cell-top .cell-price {
  top: 0;
  left: 0;
  height: 14.75%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cell-top .cell-item {
  height: 84%;
  padding: 1px 0px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
}
.cell-top .cell-item::after {
  margin: 0 auto;
  transform: rotate(-180deg) translate(2px, -7px);
}
.cell-top .cell-green {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cell-top::after {
  content: "";
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.cell-top::before {
  content: "";
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.cell-right {
  z-index: 1;
}
.cell-right::before {
  content: "";
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.cell-right::after {
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.cell-right .cell-price {
  writing-mode: vertical-rl;
  right: 0;
  top: 0;
  width: 14.75%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cell-right .cell-item {
  width: 84%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
}
.cell-right .cell-green {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell-bottom {
  z-index: 1;
}
.cell-bottom::after {
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.cell-bottom::before {
  content: "";
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.cell-bottom .cell-price {
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 14.75%;
}
.cell-bottom .cell-item {
  height: 84%;
  padding: 1px 0px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.cell-bottom .cell-green {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cell-left {
  z-index: 1;
  justify-content: flex-end;
}
.cell-left::after {
  content: "";
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
.cell-left::before {
  content: "";
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.cell-left .cell-price {
  top: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 14.75%;
  height: 100%;
  writing-mode: vertical-rl;
}
.cell-left .cell-item {
  width: 84%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.cell-left .cell-item .cell__text {
  width: 100%;
}
.cell-left .cell-green {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.v-rl {
  writing-mode: vertical-rl;
}

.cell-green {
  background: rgb(73, 132, 40);
  background: linear-gradient(120deg, rgb(73, 132, 40) 0%, rgb(38, 89, 10) 100%);
  color: #fff;
  text-shadow: black 0 0 5px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
}

.cell-corner .cell-green {
  font-size: 25px;
}

.board-grid .cell-alert {
  grid-column: 2/14;
  grid-row: 2/9;
  margin: 14px 20px 20px;
  position: relative;
  z-index: 1;
}

.cell-alert {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cell-alert .nav {
  padding-left: 9px;
}
.cell-alert .nav-link {
  margin: 0 -9px;
  position: relative;
  background-color: transparent !important;
  color: #000 !important;
  padding: 1em 2em 1em 1em;
  min-width: 16.6%;
  font-weight: 500;
  font-size: 12px;
}
.cell-alert .nav-link span {
  position: relative;
}
.cell-alert .nav-link i {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #B72014;
  min-width: 16px;
  height: 16px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  box-shadow: 0 0 0 1px #000;
}
.cell-alert .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0.5em;
  left: 0;
  z-index: 0;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px hsla(0, 0%, 100%, 0.5) inset;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
  transform-origin: bottom left;
  border: 1px solid #EDE2D7;
}
.cell-alert .nav-link.active {
  z-index: 2;
}
.cell-alert .nav-link--grey {
  text-shadow: #ededed 1px 1px 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.cell-alert .nav-link--grey::before {
  background: linear-gradient(120deg, #C8B5A3 0%, #C8B5A3 100%);
}
.cell-alert .nav-link--red {
  text-shadow: #E5A29D 1px 1px 1px;
}
.cell-alert .nav-link--red::before {
  border: 1px solid #EDE2D7;
  background: linear-gradient(180deg, #E76A67 0%, #D82624 100%);
}
.cell-alert .nav-link--green {
  text-shadow: #c3c3c3 1px 1px 1px;
}
.cell-alert .nav-link--green::before {
  border: 1px solid #A5C7FB;
  background: linear-gradient(0deg, #2AAD13 0%, #62DF07 100%);
}
.cell-alert .nav-link--blue {
  text-shadow: #c3c3c3 1px 1px 1px;
}
.cell-alert .nav-link--blue::before {
  border: 1px solid #A5C7FB;
  background: linear-gradient(180deg, #52B5F9 0%, #1A8CFE 100%);
}
.cell-alert .nav-link--yellow {
  text-shadow: #c3c3c3 1px 1px 1px;
}
.cell-alert .nav-link--yellow::before {
  border: 1px solid #A5C7FB;
  background: linear-gradient(0deg, #EFBF18 0%, #FEFC2C 100%);
}
.cell-alert .nav-link--violet {
  text-shadow: #c3c3c3 1px 1px 1px;
}
.cell-alert .nav-link--violet::before {
  border: 1px solid #F944A3;
  background: linear-gradient(0deg, #F94EA8 0%, #FA82C2 100%);
}
.cell-alert .tab-content {
  background-color: #000;
  position: relative;
  z-index: 2;
  margin-top: -7px;
  flex: 1;
  transition: 0.5s;
}
.cell-alert .tab-pane {
  height: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #c3c3c3;
  overflow: hidden;
  padding: 8px 11px;
}
.cell-alert .tab-pane--grey {
  border: 1px solid #cab6a3;
  border-top: 5px solid #cab6a3;
}
.cell-alert .tab-pane--red {
  border: 1px solid #BD2C1B;
  border-top: 5px solid #BD2C1B;
}
.cell-alert .tab-pane--blue {
  border: 1px solid #3870FC;
  border-top: 5px solid #3870FC;
}
.cell-alert .tab-pane--green {
  border: 1px solid #2C8A21;
  border-top: 5px solid #2C8A21;
}
.cell-alert .tab-pane--yellow {
  border: 1px solid #EDB717;
  border-top: 5px solid #EDB717;
}
.cell-alert .tab-pane--yellow {
  border: 1px solid #EDB717;
  border-top: 5px solid #EDB717;
}
.cell-alert .tab-pane--violet {
  border: 1px solid #F944A3;
  border-top: 5px solid #F944A3;
}

:root {
  --scrollbarBg: #0A0805;
  --scrollbarThumb: rgba(255, 255, 255, 0.8);
  --scrollbarWidth: 12px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.tab-pane__overflow {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

.tab-pane__overflow::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}

.tab-pane__overflow::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}

.tab-pane__overflow::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

.tab-pane__overflow {
  height: calc(15vh + 140px);
  overflow: auto;
}

.tab-pane__btns {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  padding: 0 12px;
  display: flex;
  gap: 5px;
}
.tab-pane__btns input {
  border-radius: 5px;
  flex: 1;
}
.tab-pane__btns .form-control,
.tab-pane__btns .btn {
  padding: 0.1rem 0.75rem;
}
.tab-pane__btns .btn {
  padding: 0.15rem 0.75rem 0.05rem;
  text-shadow: black 0 0 5px;
  color: #fff;
  background: linear-gradient(180deg, #7DAD31 0%, #386407 100%);
}

.tab-pane__item:last-child {
  margin-bottom: 14px;
}

.site-container--grid .tab-pane__item:last-child {
  margin-bottom: 50px;
}

.tab-content > .active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blue {
  color: #3870FC;
}

.red {
  color: #BD2C1B;
}

.white {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.item0 {
  grid-column: 1;
  grid-row: 1;
}
.item0 .cell-item {
  position: relative;
}
.item0 .cell-item::after {
  content: "";
  width: 91px;
  height: 62px;
  background-image: url(../assets/ui/shapes/game/682.png);
}

.item1 {
  grid-column: 2;
  grid-row: 1;
}
.item1 .cell-item {
  font-size: 15px;
}
.item1 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/809.png);
  width: 37px;
  height: 40px;
  margin: 0 auto;
  transform: rotate(-180deg) translate(2px, -7px);
}

.item2 {
  grid-column: 3;
  grid-row: 1;
}
.item2 .cell__text span {
  font-size: 17px;
}

.item3 {
  grid-column: 4;
  grid-row: 1;
}
.item3 .cell-item {
  font-size: 16px;
}
.item3 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/815.png);
  width: 28px;
  height: 35px;
}

.item4 {
  grid-column: 5;
  grid-row: 1;
}
.item4 .cell-item {
  font-size: 16px;
}
.item4 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/819.png);
  width: 33px;
  height: 35px;
}

.item5 {
  grid-column: 6;
  grid-row: 1;
}

.item6 {
  grid-column: 7;
  grid-row: 1;
}
.item6 .cell-item {
  font-size: 18px;
}
.item6 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/824.png);
  width: 22px;
  height: 43px;
}

.item7 {
  grid-column: 8;
  grid-row: 1;
}
.item7 .cell-item {
  font-size: 14px;
}
.item7 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/829.png);
  width: 31px;
  height: 34px;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-54%) rotate(180deg);
}

.item8 {
  grid-column: 9;
  grid-row: 1;
}
.item8 .cell-item {
  font-size: 14px;
}
.item8 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/833.png);
  width: 26px;
  height: 39px;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-54%) rotate(180deg);
}

.item9 {
  grid-column: 10;
  grid-row: 1;
}

.item10 {
  grid-column: 11;
  grid-row: 1;
}
.item10 .cell-item {
  font-size: 13px;
}
.item10 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/837.png);
  width: 29px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-70%) rotate(180deg);
}

.item11 {
  grid-column: 12;
  grid-row: 1;
}
.item11 .cell-item {
  font-size: 12px;
}
.item11 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/842.png);
  width: 26px;
  height: 45px;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-70%) rotate(180deg);
}

.item12 {
  grid-column: 13;
  grid-row: 1;
}
.item12 .cell-item {
  font-size: 13px;
}
.item12 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/846.png);
  width: 41px;
  height: 41px;
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-54%) rotate(180deg);
}

.item13 {
  grid-column: 14;
  grid-row: 1;
}
.item13 .cell-item {
  position: relative;
  gap: 3px;
}
.item13 .cell-item::after {
  content: "";
  width: 95px;
  height: 45px;
  background-image: url(../assets/ui/shapes/game/687.png);
}

.item14 {
  grid-column: 14;
  grid-row: 2;
}
.item14 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/782.png);
  width: 47px;
  height: 42px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.item15 {
  grid-column: 14;
  grid-row: 3;
}
.item15 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/788.png);
  width: 47px;
  height: 42px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.item16 {
  grid-column: 14;
  grid-row: 4;
}
.item16 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/792.png);
  width: 47px;
  height: 46px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.item17 {
  grid-column: 14;
  grid-row: 5;
  font-size: 17px;
}
.item17 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/796.png);
  width: 41px;
  height: 42px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.item18 {
  grid-column: 14;
  grid-row: 6;
}
.item18 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/800.png);
  width: 41px;
  height: 48px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.item19 {
  grid-column: 14;
  grid-row: 7;
}

.item20 {
  grid-column: 14;
  grid-row: 8;
}
.item20 .cell-item::after {
  content: "";
  background-image: url(../assets/ui/shapes/game/804.png);
  width: 42px;
  height: 48px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.item21 {
  grid-column: 14;
  grid-row: 9;
}
.item21 .cell-item {
  position: relative;
  gap: 3px;
  flex-direction: column-reverse;
}
.item21 .cell-item::after {
  content: "";
  width: 47px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/694.png);
}

.item22 {
  grid-column: 13;
  grid-row: 9;
}
.item22 .cell-item {
  position: relative;
  gap: 3px;
}
.item22 .cell-item::after {
  content: "";
  width: 45px;
  height: 46px;
  background-image: url(../assets/ui/shapes/game/750.png);
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translateX(-54%) rotate(180deg);
}

.item23 {
  grid-column: 12;
  grid-row: 9;
}

.item24 {
  grid-column: 11;
  grid-row: 9;
}
.item24 .cell-item {
  position: relative;
  gap: 3px;
}
.item24 .cell-item::after {
  content: "";
  width: 45px;
  height: 46px;
  background-image: url(../assets/ui/shapes/game/778.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}

.item25 {
  grid-column: 10;
  grid-row: 9;
}
.item25 .cell-item {
  position: relative;
  gap: 3px;
}
.item25 .cell-item::after {
  content: "";
  width: 45px;
  height: 46px;
  background-image: url(../assets/ui/shapes/game/774.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}

.item26 {
  grid-column: 9;
  grid-row: 9;
}

.item27 {
  grid-column: 8;
  grid-row: 9;
}
.item27 .cell-item {
  position: relative;
  gap: 3px;
}
.item27 .cell-item .cell__text {
  height: 100%;
  font-size: 19px;
}
.item27 .cell-item::after {
  content: "";
  width: 45px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/770.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}

.item28 {
  grid-column: 7;
  grid-row: 9;
}
.item28 .cell-item {
  position: relative;
  gap: 3px;
}
.item28 .cell-item::after {
  content: "";
  width: 45px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/766.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}
.item28 .cell-item .cell__text {
  z-index: 1;
}

.item29 {
  grid-column: 6;
  grid-row: 9;
}
.item29 .cell-item {
  position: relative;
  gap: 3px;
}
.item29 .cell-item::after {
  content: "";
  width: 45px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/762.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}
.item29 .cell-item .cell__text {
  z-index: 1;
}

.item30 {
  grid-column: 5;
  grid-row: 9;
}

.item31 {
  grid-column: 4;
  grid-row: 9;
}
.item31 .cell-item {
  position: relative;
  gap: 3px;
}
.item31 .cell-item::after {
  content: "";
  width: 45px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/758.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}
.item31 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item32 {
  grid-column: 3;
  grid-row: 9;
}
.item32 .cell-item {
  position: relative;
  gap: 3px;
}
.item32 .cell-item::after {
  content: "";
  width: 45px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/754.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}
.item32 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item33 {
  grid-column: 2;
  grid-row: 9;
}
.item33 .cell-item {
  position: relative;
  gap: 3px;
}
.item33 .cell-item::after {
  content: "";
  width: 45px;
  height: 48px;
  background-image: url(../assets/ui/shapes/game/744.png);
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translateX(-54%) rotate(180deg);
}
.item33 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item34 {
  grid-column: 1;
  grid-row: 9;
}
.item34 .cell-item {
  position: relative;
  gap: 3px;
  flex-direction: column-reverse;
}
.item34 .cell-item::after {
  content: "";
  width: 69px;
  height: 62px;
  background-image: url(../assets/ui/shapes/game/699.png);
}

.item35 {
  grid-column: 1;
  grid-row: 8;
}
.item35 .cell-item {
  position: relative;
  gap: 3px;
}
.item35 .cell-item::after {
  content: "";
  width: 45px;
  height: 44px;
  background-image: url(../assets/ui/shapes/game/740.png);
  background-position: right;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
}
.item35 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item36 {
  grid-column: 1;
  grid-row: 7;
}
.item36 .cell-item {
  position: relative;
  gap: 3px;
}
.item36 .cell-item::after {
  content: "";
  width: 45px;
  height: 44px;
  background-image: url(../assets/ui/shapes/game/736.png);
  background-position: right;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
}
.item36 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item37 {
  grid-column: 1;
  grid-row: 6;
}
.item37 .cell-item {
  position: relative;
  gap: 3px;
}
.item37 .cell-item::after {
  content: "";
  width: 45px;
  height: 44px;
  background-image: url(../assets/ui/shapes/game/732.png);
  background-position: right;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
}
.item37 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item38 {
  grid-column: 1;
  grid-row: 5;
}
.item38 .cell-item {
  position: relative;
  gap: 3px;
}
.item38 .cell-item::after {
  content: "";
  width: 25px;
  height: 44px;
  background-image: url(../assets/ui/shapes/game/728.png);
  background-position: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-60%) translateY(-50%) rotate(0deg);
}
.item38 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
  font-size: 19px;
}

.item39 {
  grid-column: 1;
  grid-row: 4;
}
.item39 .cell-item {
  position: relative;
  gap: 3px;
}
.item39 .cell-item::after {
  content: "";
  width: 40px;
  height: 44px;
  background-image: url(../assets/ui/shapes/game/724.png);
  background-position: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-30%) translateY(-50%) rotate(0deg);
}
.item39 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.item40 {
  grid-column: 1;
  grid-row: 3;
}

.item41 {
  grid-column: 1;
  grid-row: 2;
}
.item41 .cell-item {
  position: relative;
  gap: 3px;
}
.item41 .cell-item::after {
  content: "";
  width: 50px;
  height: 39px;
  background-image: url(../assets/ui/shapes/game/709.png);
  background-position: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-30%) translateY(-50%) rotate(0deg);
}
.item41 .cell-item .cell__text {
  z-index: 1;
  height: 100%;
}

.player-all {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 20%;
  border: 1px solid #000;
  z-index: 1;
  margin: auto;
  position: relative;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.6);
  background-size: cover;
}

.player-1 {
  grid-column: 1;
  grid-row: 1;
  border: 4px solid #E20E0B;
}

.player-2 {
  border: 4px solid #0681FD;
  grid-column: 1;
  grid-row: 1;
}

.player-3 {
  border: 4px solid #F3D602;
  grid-column: 1;
  grid-row: 1;
}

.player-4 {
  border: 4px solid #37BA00;
  grid-column: 1;
  grid-row: 1;
}

.player-5 {
  border: 4px solid #D3089B;
  grid-column: 1;
  grid-row: 1;
}

.player-1,
.player-2,
.player-3,
.player-4,
.player-5 {
  grid-column: 1;
  grid-row: 1;
}

.cell-top .cell-item, .cell-bottom .cell-item {
  transform: rotate(-180deg);
}

.z-index {
  z-index: 2;
}

.cell-arrows .cell-item::before {
  content: "";
  width: 27px;
  height: 27px;
  left: 8px;
  bottom: 8px;
  position: absolute;
  background-image: url(../assets/ui/shapes/game/688.png);
  background-repeat: no-repeat;
}

#cell34.cell-arrows .cell-item::before {
  left: inherit;
  bottom: inherit;
  right: 8px;
  top: 8px;
  transform: rotate(180deg);
}

.cell-indicator {
  position: absolute;
  left: 4px;
  bottom: 0;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.01em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer__new {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 10px 5px;
  background-image: url(../assets/img/bg-tree6.jpg);
  width: 100%;
  border-top: 12px solid rgb(13, 13, 13);
}

.players__cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  align-items: flex-end;
  width: 100%;
  max-width: 1130px;
}

.player__card {
  width: 200px;
  height: 80px;
  position: relative;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  align-items: center;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.player__card::before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 95%;
  height: 70px;
  background: #ffffff;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.player__card-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
  left: 5px;
  /* right: 5px; */
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  width: 95%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 5px;
}

.player__card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player__card-title,
.player__card-desc {
  font-size: 12px;
  line-height: 10px;
  font-weight: 700;
  margin: 0;
}

.player__card-desc {
  color: #FF0000;
  font-size: 10px;
}

.card__money-info {
  display: grid;
  color: rgba(0, 0, 0, 0.6);
}

.player__card-money,
.player__card-allMoney {
  position: relative;
  padding-left: 10px;
  font-size: 12px;
  line-height: 13px;
}

.player__card-money::before {
  content: "$";
  position: absolute;
  top: 0;
  left: 0;
  color: #306512;
  font-size: 12px;
  font-weight: 700;
}

.player__card-allMoney::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
  color: #BE2D1C;
  font-size: 12px;
  font-weight: 700;
}

.player__card-photo {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: hidden;
}

.move__aponent {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
}

.move__aponent-time {
  text-transform: uppercase;
  color: #D1DAE1;
  font-size: 14px;
  text-shadow: 0 1px 4px #000000;
  font-weight: 700;
}

.move__time-second {
  color: #ffffff;
  padding: 0 3px;
}

.move__timer-load {
  margin: 0 10px;
  width: 95%;
  height: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: rgb(1, 44, 1);
}

.player__photo-pic {
  min-width: 100%;
  max-width: 150%;
}

.aponent__avtive {
  width: 225px;
  height: 125px;
}

.aponent__avtive .player__card-content {
  bottom: 10px;
  width: 90%;
}

.aponent-1 {
  background: #D3089B;
}

.aponent-2 {
  background: #37BA00;
}

.aponent-3 {
  background: #F3D602;
}

.aponent-4 {
  background: #E02E0B;
}

.aponent-5 {
  background: #0681FD;
}

.aponent-1 > .player__card-content {
  background: linear-gradient(180deg, rgba(180, 43, 220, 0) 0%, rgba(181, 42, 221, 0.44) 56.25%, rgba(185, 44, 225, 0.8) 100%);
}

.aponent-2 > .player__card-content {
  background: linear-gradient(180deg, rgba(124, 186, 21, 0) 0%, rgba(128, 188, 27, 0.55) 56.25%, #78B514 100%);
}

.aponent-3 > .player__card-content {
  background: linear-gradient(180deg, rgba(225, 138, 36, 0) 0%, rgba(222, 139, 41, 0.55) 56.25%, #E78F27 100%);
}

.aponent-4 > .player__card-content {
  background: linear-gradient(180deg, rgba(227, 44, 44, 0) 0%, rgba(221, 51, 51, 0.44) 56.25%, rgba(224, 42, 42, 0.8) 100%);
}

.aponent-5 > .player__card-content {
  background: linear-gradient(180deg, rgba(70, 76, 233, 0) 0%, rgba(66, 73, 239, 0.44) 56.25%, rgba(58, 65, 231, 0.8) 100%);
}

.aponent__avtive.player__card::before {
  width: 90%;
  bottom: 10px;
}

.aponent__avtive .move__aponent {
  transition: 0.2s all;
  opacity: 1;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition-delay: 0.1s;
}

.player__bankrot {
  opacity: 0;
}

.bankrot > .player__bankrot {
  opacity: 1;
}

.player__bankrot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(209, 218, 225, 0.7);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.player__bakrot-text {
  text-transform: uppercase;
  color: #BE2D1C;
  font-size: 28px;
  border: 2px solid #BE2D1C;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  margin: 0;
}

.player__deal {
  display: none;
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
}

.player__btn-deal {
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 5px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(#e71d07, rgb(70, 10, 10));
  box-shadow: 0 0 4px #000000;
  font-weight: 700;
}

.player__btn-deal span i {
  padding-right: 3px;
  font-size: 2em;
}

.aponnet__deal .player__deal {
  display: block;
}

/* ============ Modal style start ============ */
/* Top items style start */
.my__data-modal {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.my__data-body {
  margin: 0 15px;
  position: relative;
}

.my__data-bodyBG {
  max-width: 100%;
}

.my__data-content {
  position: absolute;
  inset: 7px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.my__modal-top-items {
  width: 100%;
  background: url(../assets/ui/images/5.png) repeat-x;
  box-shadow: 0 0 10px #000000;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  border-bottom: 4px solid #dee2e6;
}

.my__modal-top-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #e8e8e8;
  margin: 0;
  text-shadow: 0 0 4px #000000;
}

.my__modal-link {
  padding-right: 5px;
  margin-top: 3px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_data-modalClose-pic {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.my__modal-link a {
  text-decoration: none;
}

.my__data-modalClose {
  width: 35px;
  height: 42px;
  background: url(../assets/ui/shapes/19.png) no-repeat;
}

.my__data-modalClose:active {
  background: url(../assets/ui/shapes/21.png) no-repeat;
  transform: translate(1px, 1px);
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
}

/* Top items style end */
/* Center items style start */
.my__data-center-items {
  display: block;
  width: 100%;
  background: rgb(47, 48, 49);
  padding: 40px 30px 80px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 1px solid #dee2e6;
}

.player_data-modal .my__data-center-items {
  background: rgb(231, 229, 229);
}

.my__data-center-items::after,
.my__data-center-items::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 2px;
  height: 104.5%;
  background: #dee2e6;
}

.my__data-center-items::after {
  left: 0px;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
}

.my__data-center-items::before {
  right: 0;
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
}

.my__data-modalPhoto {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 3px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.my__data-modalPhoto-pic {
  max-width: 150%;
  border-style: none;
}

.my__data-modal-playerText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.my__data-modal-playerTitle {
  margin: 0;
  color: #e8e8e8;
  font-size: 22px;
}

.my__data-modal-desc {
  margin: 0;
  font-size: 18px;
  color: #e3e308;
}

/* Center items style end */
/* Tabs style start */
.tabs li {
  list-style: none;
}

.tabs {
  font-size: 0;
  width: 100%;
  background: url(../assets/ui/shapes/495.png) repeat;
  /* background: url(../assets/ui/shapes/497.png) repeat; */
  background-size: 100% 100%;
  border-top: 2px solid #000000;
  margin-top: -25px;
  height: 100%;
  padding: 0 15px;
}

.tabs > input[type=radio] {
  display: none;
}

.tabs > div {
  display: none;
  font-size: 16px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: block;
  margin-top: 5px;
}

.tabs > label {
  width: 23.7%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  color: rgba(27, 31, 59, 0.8);
  background: url(../assets/ui/shapes/83.png) no-repeat;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.tabs label:nth-child(2) {
  z-index: 4;
  margin-left: 20px;
}

.tabs label:nth-child(4) {
  z-index: 3;
}

.tabs label:nth-child(6) {
  z-index: 2;
}

.tabs > input[type=radio]:checked + label {
  color: #000000;
  background: url(../assets/ui/shapes/79.png) no-repeat;
  z-index: 10;
}

/* Tabs style end */
.search__categories {
  display: flex;
  justify-content: space-between;
}

.my__data-tables {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.my__data-table {
  width: 50%;
}

.my__data-table {
  border-collapse: collapse;
}

.my__data-table tbody td {
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.my__data-table tbody tr {
  position: relative;
}

.my__data-table tr::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}

.my__data-table tbody tr:last-child::after {
  opacity: 0;
}

.my__data-table:first-child tbody td {
  padding-right: 40px;
}

.my__data-table tbody td:first-child {
  padding-right: 0;
}

.my__data-table:last-child .my__data-tableTitle {
  padding-left: 0;
}

.my__data-table:last-child tbody td:last-child {
  padding-right: 25px;
}

.my__data-tableTitle {
  margin: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding-right: 10px;
  padding-left: 15px;
}

.my__data-table:last-child .my__data-tableTitle {
  padding-right: 0;
}

.my__data-table-GeneralCapital,
.my__data-table-Week,
.my__data-table-Rating,
.my__data-table-Wins,
.my__data-tableNumber {
  margin: 0;
  font-size: 12px;
  color: #dee2e6;
}

.my__data-tableStatus,
.my__data-table-GeneralCapital,
.my__data-table-Week,
.my__data-table-LastVisit,
.my__data-table-Rating,
.my__data-table-Wins {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.my__data-tableStatus {
  color: #e3e308;
}

.my__data-table-LastVisit {
  color: green;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.shop__nav__item button {
  min-width: 45px;
  height: 100%;
  border: 0;
  background: none;
  margin-right: 6px;
  color: rgba(0, 183, 181, 0.5);
  opacity: 0.9;
  text-transform: uppercase;
}

.shop__nav__item img {
  width: 24px;
  height: 24px;
}

.shop__nav__item .shop__nav__img_width {
  width: 33px;
}

.shop__nav__item .shop__nav__img_height {
  width: 20px;
}

.shop__nav__item button:hover {
  opacity: 1;
}

.shop__nav__item .active {
  color: #fff;
  background: rgba(0, 183, 181, 0.4);
  border-radius: 6px 6px 0 0;
  padding: 4px;
}

.nav-bar {
  padding: 1em 0 0 1em;
}

.shop__informations {
  display: flex;
}

.shop__informations__left {
  width: 365px;
}

.information__text {
  position: relative;
  font-size: 17px;
  color: #bebebe;
  font-weight: 400;
  margin-bottom: 20px;
  width: 350px;
}
.information__text span {
  position: absolute;
  font-size: 18px;
  color: #fff;
  right: 80px;
}

.warning__shop {
  width: 100%;
  height: 30px;
  background-color: rgba(3, 17, 22, 0.36);
  text-align: center;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 10px;
}

.hat__cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hat__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 1%;
  padding: 9px;
  border: 1px solid rgba(255, 239, 241, 0.01);
}
.hat__card:hover {
  border: 1px solid rgba(255, 239, 241, 0.1);
}

.hat__card__title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #00caa1;
}

.hat__card__text {
  color: #fff;
  margin-top: 12px;
}

.medal__cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.medal__card {
  width: 120px;
  height: 160px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(255, 239, 241, 0);
}
.medal__card:hover {
  border: 1px solid rgba(255, 239, 241, 0.1);
}

.medal__img {
  height: 123px;
  margin-top: 5px;
}

.medal__title {
  color: #ffd600;
}/*# sourceMappingURL=main.css.map */